[Unit]
Description=gnome desktop session
AllowIsolate=true

BindsTo=xorg.service
After=xorg.service

BindsTo=gnome-session.service
After=gnome-session.service

Wants=xrdb.service
