[Unit]
Description=laptop configuration
AllowIsolate=true

PartOf=graphical-session.target
After=graphical-session.target

Conflicts=console.target desktop.target tablet.target
