[submodule "modes/lua-mode"]
	path = modes/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "modes/coffee-mode"]
	path = modes/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "modes/multi-mode"]
	path = modes/multi-mode
	url = https://github.com/emacsmirror/multi-mode.git
[submodule "modes/markdown-mode"]
	path = modes/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
