[Desktop Entry]
Type=Application
Exec=/home/abdo/sdk/sailfish/bin/qtcreator
Path=/home/abdo
Name=SailfishOS IDE
GenericName=The IDE of choice for SailfishOS development.
Comment=The IDE of choice for SailfishOS development.
Icon=MerProject-qtcreator
Terminal=false
Categories=Development;IDE;Qt;
MimeType=text/x-c++src;text/x-c++hdr;text/x-xsrc;application/x-designer;text/x-qml;
