[Desktop Entry]
Name=Thunar File Manager
Comment=Browse the filesystem with the file manager
GenericName=File Manager
Exec=sh -c 'sdrun thunar `realpath "%f"`'
Icon=Thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;FileTools;FileManager;

# vi:set encoding=UTF-8:
