
/* -------------------------------------------- */
/* Imports                                      */
/* -------------------------------------------- */

@import url('common.css');



/* -------------------------------------------- */
/* Colors                                       */
/* -------------------------------------------- */


/* selection color. It will get inverted by the darkening shader */
::selection {
  background: #ec7c21;     
  color: #ffffff;
}



/* -------------------------------------------- */
/* CSS shader                                   */
/* -------------------------------------------- */

/* inverted luminosity (but not hue) */
html {
  -webkit-filter: invert() contrast(64%) hue-rotate(180deg);
}

html img[src*="jpg"],
html img[src*="jpeg"],
html img.rg_i,
html embed,
html object,
html video {
  -webkit-filter: invert() hue-rotate(180deg);
}

input[type=checkbox],
input[type=radio] {
  -webkit-filter: hue-rotate(180deg) contrast(160%) brightness(120%) invert() !important;
}



/* -------------------------------------------- */
/* Hinting                                      */
/* -------------------------------------------- */

/* hint colors. It gets inverted by the darkening shader */
.dwb_hint {
  color: #ffffff !important;
  background: #ec7c21 !important;
  border-color: #000000 !important;
}

/* hint notification. Not affected by the darkening shader! */
/* NOTE: Useless. It seems this css does not apply to javascript-added elements */
.dwb_hint_notifier {
  color: #1f1f1f !important;
  background: #d0640c !important;
  border-color: #1f1f1f !important;
}

.dwb_overlay_normal {
}