[Unit]
Description=aMule Daemon

Requires=network-online.target
After=network-online.target

[Service]
ExecStartPre=/usr/bin/sudo /usr/bin/iptables -A firewall -p tcp --dport 49400:49409 -j ACCEPT
ExecStartPre=/usr/bin/sudo /usr/bin/iptables -A firewall -p udp --dport 49400:49409 -j ACCEPT

ExecStart=/usr/bin/amuled -p %h/.aMule/amuled.pid

ExecStopPost=/usr/bin/sudo /usr/bin/iptables -D firewall -p tcp --dport 49400:49409 -j ACCEPT
ExecStopPost=/usr/bin/sudo /usr/bin/iptables -D firewall -p udp --dport 49400:49409 -j ACCEPT

