[Unit]
Description=Android Notifier
After=graphical.target

Requisite=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/android-notifier
ExecStop=/usr/bin/android-notifier --stop

[Install]
WantedBy=desktop.target
