[Unit]
Description=calibre
After=graphical.target

Requisite=wm.target 
After=wm.target

Requires=git-use@lib.service
After=git-use@lib.service

[Service]
Type=simple

SyslogIdentifier=calibre
Slice=dropdown.slice
Environment=XDG_CURRENT_DESKTOP=gnome

ExecStart=/usr/bin/calibre --with-library "${AB2_CALIBRE_DIR}"

# NOTE: if we change calibre config in the database, I need to trigger a commit manually
#       to run the git hooks and dump the database. Otherwise the working tree appears clean
#       and git-commit@lib.service does not do the job.
