[Unit]
Description=calibre database check

Requires=calibre-db.service
After=calibre-db.service

[Service]
Type=oneshot
SyslogIdentifier=calibre-check

ExecStart=/usr/bin/calibredb check_library --ignore_names .git,.githooks --with-library "$AB2_CALIBRE_DIR"

