[Unit]
Description=cantata mpd client

Requisite=graphical.target
After=graphical.target

Requires=mpd.service

[Service]
Type=simple
Slice=apps.slice

ExecStart=/usr/bin/cantata

[Install]
Alias=musicplayer.service