[Unit]
Description=chat

AssertPathExists=/home/%u/priv

Requisite=wm.target
After=wm.target

Requires=git-use@var-chat-emacs.service
After=git-use@var-chat-emacs.service

[Service]
Type=simple
Slice=dropdown.slice

ExecStart=/usr/bin/emacs -chat --title "emacs-chat"
KillSignal=SIGINT
