[Unit]
Description=chat

Requires=mount-priv.service
After=mount-priv.service

Requisite=wm.target
After=wm.target

Requires=git-use@var-chat-emacs.service
After=git-use@var-chat-emacs.service

[Service]
Type=simple
SyslogIdentifier=chat
Slice=dropdown.slice

ExecStart=/usr/bin/emacs -chat --title "emacs-chat"
KillSignal=SIGINT
