[Unit]
Description=Clean user transient units
Conflicts=desktop-slices.service

[Service]
Type=oneshot

SyslogIdentifier=clean-transient
ExecStart=/usr/bin/find "%h/.config/systemd/user/" -regex '.*/run-\(.+\)\.\(scope\|service\)\(\.d\)?$' -print -exec rm -Rf {} \;


