[Unit]
Description=clean build files

AssertPathExists=%h/build/Makefile

Requisite=housekeeping.target

[Service]
Type=oneshot
Slice=workers.slice

# NOTE: Do not use environment variables here. If they are empty, it can mess things up royally.
ExecStart=/usr/bin/make --silent -C "%h/build" expire
