[Unit]
Description=fetch delicious bookmarks
Requires=online.service
After=online.service

[Service]
Type=oneshot
SyslogIdentifier=delicious
ExecStart=/home/abdo/.config/systemd/scripts/fetch-delicious.sh 
