[Unit]
Description=dpms timed poweroff

Requisite=graphical.target
After=graphical.target

[Service]
Type=oneshot
SyslogIdentifier=dpms
ExecStart=/usr/bin/xset dpms 300 600 900