[Unit]
Description=dwb profile %i

Requisite=wm.target 
After=wm.target

Requires=git-use@priv-var-dwb-default.service
After=git-use@priv-var-dwb-default.service

[Service]
Type=dbus
BusName=org.bitbucket.dwb.%i
Slice=apps.slice

ExecStart=/usr/bin/dwb -p %i
StandardOutput=null

