[Unit]
Description=dwb %i

PartOf=graphical-session.target 
After=graphical-session.target

Requires=git-use@priv-var-dwb-default.service
After=git-use@priv-var-dwb-default.service

Requires=privoxy.service
After=privoxy.service

[Service]
Type=simple
Slice=apps.slice

# Start new instance of dwb without dbus
ExecStart=/usr/bin/dwb -n
StandardOutput=null

