[Unit]
Description=fetch mail

Requires=dbus.socket
Requires=online.service
After=online.service

StopWhenUnneeded=true
AllowIsolate=true

Wants=offlineimap.service mutag.service

