[Unit]
Description=sync google calendar

ConditionPathExists=/home/%u/work/wiki

Requires=mount-priv.service
After=mount-priv.service

# gcal accesses and changes ~/work/wiki
Requisite=synced.target
After=synced.target

Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
Slice=workers.slice

SyslogIdentifier=gcal-sync
ExecStart=/usr/bin/make -C "${AB2_WIKI_DIR}" ical
ExecStart=/usr/bin/gcal -S
