[Unit]
Description=gconf daemon

Requisite=graphical.target
After=graphical.target

[Service]
Type=dbus
BusName=org.gnome.GConf
Slice=wm.slice

ExecStart=/usr/lib/GConf/gconfd-2
SuccessExitStatus=0 1

[Install]
Alias=dbus-org.gnome.GConf.service
WantedBy=wm.target