[Unit]
Description=check git repo at /home/%u/%I

ConditionPathExists=/home/%u/%I/.git

[Service]
Type=oneshot
Slice=workers.slice

ExecStart=/usr/bin/git -C "/home/%u/%I" fsck --no-progress
