[Unit]
Description=gpg-agent daemon
ConditionHost=!skynet


[Service]
Type=forking

SyslogIdentifier=gpg-agent
ExecStart=/home/abdo/.config/systemd/scripts/gpg-agent.sh start
