[Unit]
Description=connect to remote gpg-agent

Conflicts=gpg-agent.service
Conflicts=gpg-agent-forward.service
After=gpg-agent.service
After=gpg-agent-forward.service

[Service]
Type=simple

SyslogIdentifier=gpg-agent-remote
ExecStart=/home/abdo/.config/systemd/scripts/gpg-agent.sh remote
SuccessExitStatus=0 143
