[Unit]
Description=forward gpg-agent to %i

AssertHost=!%i

Conflicts=disconnect.target

Requires=gpg-agent.service
After=gpg-agent.service

After=sshmux@%i.service

[Service]
Type=simple
Slice=daemons.slice
ExecStartPre=/usr/bin/ssh -o ControlMaster=no                                  \
                          -o ControlPath=none                                  \
                          %i                                                   \
                          mkdir -p %t/gnupg

ExecStart=/usr/bin/ssh -o ControlMaster=no                                     \
                       -o ControlPath=none                                     \
                       -o StreamLocalBindUnlink=yes                            \
                       -R "%t/gnupg/S.gpg-agent:%t/gnupg/S.gpg-agent"          \
                       -R "%t/gnupg/S.gpg-agent.ssh:%t/gnupg/S.gpg-agent.ssh"  \
                       %i -N

