[Unit]
Description=forward gpg-agent to %i

AssertHost=!%i

Conflicts=disconnect.target

Requires=gpg-agent.service
After=gpg-agent.service

After=sshmux@%i.service

[Service]
Type=simple
Slice=daemons.slice

ExecStart=/usr/bin/ssh -o ControlMaster=no -o ControlPath=none -o StreamLocalBindUnlink=yes -R /home/abdo/.gnupg/S.gpg-agent:/home/abdo/.gnupg/S.gpg-agent -R /home/abdo/.gnupg/S.gpg-agent.ssh:/home/abdo/.gnupg/S.gpg-agent.ssh %i -N

