[Unit]
Description=monthly check of /home/%u/%I

Requisite=housekeeping.target

[Timer]
OnCalendar=monthly
RandomizedDelaySec=1m
Persistent=true
Unit=homedir-check@%i.service

[Install]
WantedBy=housekeeping.target
