[Unit]
Description=garbage collect homedir

ConditionPathExists=/home/%u/.mrconfig

[Service]
Type=oneshot
Slice=workers.slice
SyslogIdentifier=homedir-gc

IOSchedulingClass=idle
WorkingDirectory=/home/%u
ExecStart=/usr/bin/mr gc
