[Unit]
Description=garbage collect directory /home/%u/%I

PartOf=housekeeping.target

AssertPathExists=/home/%u/%I
AssertPathExists=/home/%u/arch/sync/Makefile

ConditionACPower=true

[Service]
Type=oneshot
Slice=workers.slice

Nice=19
WorkingDirectory=/home/%u/arch/sync
ExecStart=/usr/bin/make DIRS=%I gc
