[Unit]
Description=wait until host %i is online

Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
Slice=daemons.slice

ExecStart=/usr/bin/sh -c 'while ! ping -q -c 1 %i >/dev/null 2>&1; do sleep 5; done'
