[Unit]
Description=show journal dropdown
StopWhenUnneeded=true

# TODO: We should depend on awesome, in fact.
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=/home/abdo/.config/systemd/scripts/awesome-cmd.sh 'ddshow("app:journal-dropdown", true)'
ExecStop=/home/abdo/.config/systemd/scripts/awesome-cmd.sh 'ddhide("app:journal-dropdown")'
