[Unit]
Description=monitor journal

[Service]
Type=oneshot
SyslogIdentifier=journal-mailer
ExecStart=/home/abdo/.config/systemd/scripts/journal-mailer.sh
