[Unit]
Description=journal syslog terminal

Requisite=wm.target 
After=wm.target

[Service]
Type=simple
ExecStart=/usr/bin/termite -e "%h/etc/systemd/bin/jctl -f -n50"

Slice=dropdown.slice