[Unit]
Description=ladish config daemon

[Service]
Type=dbus
BusName=org.ladish.conf
Slice=audio.slice

ExecStart=/usr/bin/ladiconfd

[Install]
Alias=dbus-org.ladish.conf.service
