[Unit]
Description=virtual machine %i

[Service]
Type=simple

SyslogIdentifier=machine-%i
Slice=machines.slice
ExecStart=/home/abdo/virt/bin/machine.py start %i
ExecStop=/home/abdo/virt/bin/machine.py stop %i

