[Unit]
Description=mail database

StopWhenUnneeded=true
ConditionPathExists=/home/%u/mail

Requisite=synced.target
After=synced.target

[Service]
Type=oneshot
RemainAfterExit=true

SyslogIdentifier=mail-db
ExecStart=/usr/bin/true
ExecStop=/usr/bin/systemctl --user start commit-mail.service


