[Unit]
Description=music player daemon

Requires=mpd.socket

Requires=pulseaudio.service
After=pulseaudio.service

[Service]
Type=notify
Slice=daemons.slice

Environment=PULSE_PROP=application.icon_name=emblem-sound
ExecStart=/usr/bin/mpd --no-daemon
