[Unit]
Description=mpd scribbler

Requisite=synced.target
After=synced.target

Requires=mpd.socket mpd.service
After=mpd.service

Requires=audio.slice
After=audio.slice

[Service]
Type = simple
ExecStart = /usr/bin/mpdscribble -D
Restart = always

Slice=audio.slice