[Unit]
Description=msys32 mintty

Requisite=graphical-session.target
After=graphical-session.target

Requires=wineserver32.service
After=wineserver32.service


[Service]
Type=notify

Slice=apps.slice

Environment=WINEPREFIX=%h/.wine32 WINEARCH=win32 WINEDEBUG=-all MSYSTEM=MSYS
WorkingDirectory=/home/abdo/.wine32/drive_c/msys32

NotifyAccess=all

# Find main process and notify readiness
ExecStart=/usr/bin/bash -c '                                                             \
    wine usr/bin/mintty.exe --exec /usr/bin/bash -l;                                     \
    pid=$(comm -12 <(pgrep mintty | sort) <(cat /sys/fs/cgroup%c/cgroup.procs | sort));  \
    systemd-notify --pid=$pid --ready;                                                   \
'
