[Unit]
Description=mu4e mail client

Requisite=wm.target
After=wm.target

Requires=git-use@mail.service
After=git-use@mail.service

[Service]
Type=simple
Slice=dropdown.slice

ExecStart=/usr/bin/emacs -mail --title "emacs-mail"
KillSignal=SIGINT

