[Unit]
Description=index mail and news

ConditionPathExists=/home/%u/mail

Requisite=synced.target
After=synced.target

Requires=git-use@mail.service
After=git-use@mail.service

After=offlineimap.service rss2maildir.service mutag-autotag.service
Conflicts=mu4e.service

[Service]
Type=oneshot
Slice=workers.slice

ExecStart=/usr/bin/mutag --index --silent
