[Unit]
Description=org-mode

PartOf=graphical-session.target
After=graphical-session.target

Requires=git-use@wiki.service
After=git-use@wiki.service

[Service]
Type=simple
Slice=apps.slice

StandardOutput=null

ExecStart=/usr/bin/emacsclient -s "%t/emacs/server" -c --frame-parameters='((name . "org"))' --eval '(ab2/frame-layout "@wiki")'

KillSignal=SIGINT


