[Unit]
Description=org-mode

Requisite=wm.target
After=wm.target

Requires=git-use@wiki.service
After=git-use@wiki.service

[Service]
Type=simple
Slice=dropdown.slice

ExecStart=/usr/bin/emacs -org --title "emacs-org"
KillSignal=SIGINT


