[Unit]
Description=update packages
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
Slice=workers.slice

ExecStart=/usr/bin/sudo pacman -Syu --noconfirm
