[Unit]
Description=pulseaudio mixer

Requisite=wm.target
After=wm.target

Requisite=pulseaudio.service
After=pulseaudio.service

[Service]
Type=simple
Slice=apps.slice

ExecStart=/usr/bin/pavucontrol


