[Unit]
Description=rss2maildir

# rss2maildir chages ~/mail
Requisite=initial-synced-mail.target
After=initial-synced-mail.target

Requires=online.service
After=online.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rss2maildir -v 
