[Unit]
Description=sleep

After=chat-away.service dpms-off.service mpc-pause.service stream-stop.service disconnect.target
After=i3lock.service

DefaultDependencies=no
RefuseManualStart=yes
StopWhenUnneeded=yes
