[Unit]
Description=enter suspend state

DefaultDependencies=no

Requires=sleep.target
After=sleep.target

[Service]
Type=oneshot

ExecStart=/usr/bin/systemctl --no-block suspend

# sometimes returns with status=1, don't know why
SuccessExitStatus=0 1