[Unit]
Description=thunar %i

Requisite=wm.target 
After=wm.target

[Service]
Type=simple
SyslogIdentifier=thunar
Slice=apps.slice

ExecStart=/usr/bin/thunar


