[Unit]
Description=thunar dropdown

Requisite=graphical.target 
After=graphical.target

[Service]
Type=simple
Slice=apps.slice

ExecStart=/usr/bin/thunar --class=thunar-dropdown


