[Unit]
Description=gesture recognizer

Requisite=graphical.target
After=graphical.target

PartOf=tablet.target

[Service]
Type=simple
Slice=wm.slice

ExecStart=/usr/bin/touchegg
StandardOutput=null
