[Unit]
Description=VNC server at display %i

Requires=xserver@%i.target
Before=xserver@%i.target

[Service]
Type=forking
ExecStart=/usr/bin/vncserver :%i -nolisten tcp -localhost -nevershared -geometry 800x600 -depth 24

