[Unit]
Description=wireless network

[Service]
Type=oneshot
RemainAfterExit=yes

SyslogIdentifier=wifi
ExecStart=/usr/bin/sudo /usr/bin/systemctl --system start netctl-auto@wlan0.service
ExecStop=/usr/bin/sudo /usr/bin/systemctl --system stop netctl-auto@wlan0.service
