[Unit]
Description=quit window manager

Requires=emacs-ask-save.service
After=emacs-ask-save.service

Requires=orgmode-ask-save.service
After=orgmode-ask-save.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user start console.target