[Unit]
Description=window manager

RefuseManualStart=true
StopWhenUnneeded=true

Conflicts=console.target

Requisite=graphical.target
After=graphical.target
