[Unit]
Description=wake on lan %i
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
SyslogIdentifier=wol
ExecStart=/home/abdo/.config/systemd/scripts/wol.sh %i
