[Unit]
Description=temporarily inhibit autolock

StopWhenUnneeded=true

Requisite=graphical.target
After=graphical.target

Requisite=xautolock.service
After=xautolock.service

[Service]
Type=oneshot
ExecStart=/usr/bin/xautolock -disable
ExecStop=/usr/bin/xautolock -enable

