[Unit]
Description=Xephyr server at display %i

Requisite=graphical.target
After=graphical.target

Requires=xserver@%i.target
Before=xserver@%i.target

[Service]
Type=simple
ExecStart=/usr/bin/Xephyr -ac -br -noreset -screen 800x600 :%i 

