[Unit]
Description=Xephyr server at display %i
After=xorg.target

Requisite=xorg.target
BindsTo=xserver@%i.target
Before=xserver@%i.target
Conflicts=x11vnc@%i.service vncserver@%i.service xorg@%i.service

[Service]
Type=simple
ExecStart=/usr/bin/Xephyr -ac -br -noreset -screen 800x600 :%i 

