[Unit]
Description=xournal

Requisite=desktop.target
After=desktop.target

[Service]
Type=simple
ExecStart=/usr/bin/xournal "$AB2_WORK_DIR/notes/scratchpad.xoj"
