[Unit]
Description=X resource setting
Documentation=man:xrdb(1)

Requisite=xserver@%i.target
After=xserver@%i.target xorg@%i.service vncserver@%i.service x11vnc@%i.service xephyr@%i.service

[Service]
Type=oneshot
Environment=DISPLAY=:%i

# For some reason resources are not always loaded. Give it some time.
ExecStartPre=/usr/bin/sleep 1
ExecStart=/usr/bin/xrdb -merge %h/.config/systemd/conf/Xresources
ExecStart=/usr/bin/xrdb -merge %h/.config/systemd/conf/Xresources.d/%H
