[Unit]
Description=xwindow server

RefuseManualStart=true
StopWhenUnneeded=true

Before=graphical.target

Conflicts=console.target
After=console.target
