[Unit]
Description=openbox wm session
AllowIsolate=true

BindsTo=xorg.service
After=xorg.service

BindsTo=openbox.service
After=openbox.service

Requires=tint2.service
After=tint2.service
