[Unit]
Description=sway window manager

Conflicts=openbox.service awesome.service

BindsTo=graphical-session.target
Before=graphical-session.target

[Service]
Type=simple
Slice=wm.slice

# Setup XKB config
Environment=XKB_DEFAULT_LAYOUT=es,us,it
Environment=XKB_DEFAULT_MODEL=pc105
Environment=XKB_DEFAULT_VARIANT=cat,,

Environment=WLC_REPEAT_DELAY=500
Environment=WLC_REPEAT_RATE=25
Environment=WLC_XWAYLAND=0

# NOTE: we need to unset DISPLAY and WAYLAND_DISPLAY, otherwise wlc tries to
# connect to itself deadlocks. It is not enough to set DISPLAY="", it needs to be unset.
ExecStart=/usr/bin/sh -c '                 \
    export WLC_DISPLAY="$WAYLAND_DISPLAY"; \
    unset DISPLAY WAYLAND_DISPLAY;         \
    exec /usr/bin/sway                     \
'

KillSignal=SIGINT
TimeoutSec=15

