
/* -------------------------------------------- */
/* Imports                                      */
/* -------------------------------------------- */

@import url('common.css');



/* -------------------------------------------- */
/* Colors                                       */
/* -------------------------------------------- */

/* input form colors */
textarea,
input, 
select {
   color: #000000 !important; 
   background-color: #ffffff !important;
}


/* -------------------------------------------- */
/* Forms                                        */
/* -------------------------------------------- */

/* get rid of GTK appearence */
input, textarea, select {
  border: 1px solid #000000;
  padding: 0em 0.1em 0em 0.1em !important;

  -webkit-appearance: none;
  -webkit-box-shadow: 1px 1px 1px #ffffff;
  -webkit-border-radius: 0.3em;
}

input[type=text] {
}

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  padding: 0em !important;
  margin: 0em !important;

  line-height: 0.9em !important;
  width: 0.9em !important;
  height: 0.9em !important;
  vertical-align: middle !important;
}

input[type=checkbox] {
  -webkit-border-radius: 0.2em;
}

input[type=radio] {
  -webkit-border-radius: 0.5em;
}

input[type=checkbox]:checked:before {
  position: relative;
/*top: -0.2em;
  left: 0.03em; */
  font-weigh: bold;
  content: '\2714';
  color: #FE5C00 !important;
}

input[type=radio]:checked:before {
  position: relative;
/*top: -0.15em;
  left: 0em; */
  font-weigh: normal;
  content: '\26AB';
/*content: '\25CF';
  content: '\2022';*/
  color: #FE5C00 !important;
}


/* -------------------------------------------- */
/* CSS shader                                   */
/* -------------------------------------------- */

/* inverted luminosity (but not hue) */
html {
  -webkit-filter: invert() contrast(64%) hue-rotate(180deg);
}

html img[src*="jpg"],
html img[src*="jpeg"],
html img.rg_i,
html embed,
html object,
html video {
  -webkit-filter: invert() hue-rotate(180deg);
}



/* -------------------------------------------- */
/* Hinting                                      */
/* -------------------------------------------- */

.dwb_hint {
  color: #000000 !important;
  background-color: #ff9c40 !important;
  border-color: #000000 !important;
}

.dwb_overlay_normal {
}