[Unit]
Description=alsa to jack midi bridge for impulse keyboard

BindsTo=sys-subsystem-usb-devices-impulse.device
After=sys-subsystem-usb-devices-impulse.device

Requires=jack.service
After=jack.service

Requires=audio.slice
After=audio.slice

[Service]
Type=simple
Slice=audio.slice

# realtime scheduling
CPUSchedulingPolicy=rr
CPUSchedulingPriority=60

ExecStart=/usr/bin/a2jmidi_bridge "Impulse Bridge"

# Do jack connections
ExecStartPost=/usr/bin/sleep 1
ExecStartPost=-/usr/bin/aconnect "Impulse:Impulse MIDI 1" "Impulse Bridge:playback"
