[Unit]
Description=zita alsa to jack bridge %i

Requires=jack.service
After=jack.service

Requires=audio.slice
After=audio.slice

[Service]
Type=simple
Slice=audio.slice

# realtime scheduling
CPUSchedulingPolicy=rr
CPUSchedulingPriority=60

# check for loopback device
ExecStartPre=/usr/bin/sh -c 'aplay -l | grep Loopback > /dev/null'

# start an alsa -> jack bridge
# Look at ~/.asoundrc for the alsa devices.
# alsa_input_1 is the jack facing part, attached to loopback device 1.
ExecStart=/usr/bin/zita-a2j -j "Zita Bridge %i" -dalsa_output_%i -c 2

# NOTE1: Careful! -dalsa_output_1 is not the same as -d alsa_output_1
#
# NOTE2: to test can use
#    AUDIODEV=hw:Loopback,0,1 play -n synth sine %-17
#
# NOTE3: Audio quality is not good
