[Unit]
Description=proxy to android debug bridge daemon

Requires=adb.service
After=adb.service

[Service]
Type=forking
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:5038
