[Unit]
Description=proxy to android debug bridge daemon

BindsTo=adb.service
After=adb.service

Requires=adb.socket

[Service]
Type=simple
Slice=daemons.slice
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:5038
