[Unit]
Description=amule client
After=graphical-session.target

PartOf=graphical-session.target 
After=graphical-session.target

Requires=amuled.service
After=amuled.service

[Service]
Type=simple

Slice=apps.slice

ExecStart=/usr/bin/amulegui


