[Unit]
Description=android emulator for %i

[Service]
Type=simple
ExecStart=/opt/android-sdk/tools/emulator -avd %i

# Enable KVM for x86 machines
#   -qemu -m 512 -enable-kvm 

[Install]
WantedBy=multi-user.target
