[Unit]
Description=Android Notifier
After=xorg@0.service
StopWhenUnneeded=true

Requires=dbus.socket
Requisite=xorg@0.service

[Service]
Type=simple
EnvironmentFile=%h/.config/systemd/conf/xenvironment
Environment=DISPLAY=:0
ExecStart=/usr/bin/android-notifier
ExecStop=/usr/bin/android-notifier --stop

[Install]
WantedBy=desktop.target
