[Unit]
Description=Android Notifier
After=xorg.target
StopWhenUnneeded=true

Requisite=xorg.target

[Service]
Type=simple
ExecStart=/usr/bin/android-notifier
ExecStop=/usr/bin/android-notifier --stop

[Install]
WantedBy=desktop.target
