[Unit]
Description=Android Notifier
After=graphical-session.target

PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/android-notifier
ExecStop=/usr/bin/android-notifier --stop

