[Unit]
Description=synchronize homedir to %i

Requires=mount-priv.service
After=mount-priv.service

Requires=network-online.target
After=network-online.target

Requires=sshmux@%i.service
After=ssgmux@%i.service

Before=synced.target

[Service]
Type=oneshot
Slice=workers.slice

SyslogIdentifier=async-%i
KillSignal=SIGINT
ExecStart=/usr/bin/async -b sync %i --terse 
