[Unit]
Description=mount default host and keep ssh open
StopWhenUnneeded=true

Requires=mount-priv.service

[Service]
# async notifies systemd when state is reached
Type=notify
NotifyAccess=all
SyslogIdentifier=async-mount
ExecStart=/usr/bin/async cmd --instate mounted default sleep 3600
