[Unit]
Description=accessibility technologies

Requisite=xorg.target
After=xorg.target

Requires=gconf.service
After=gconf.service

[Service]
Type=dbus
BusName=org.a11y.Bus
Slice=wm.slice

ExecStart=/usr/lib/at-spi2-core/at-spi-bus-launcher

[Install]
Alias=dbus-org.a11y.Bus.service
