[Unit]
Description=Audio servers
StopWhenUnneeded=true
Requires=dbus.socket
AllowIsolate=true

[Install]
WantedBy=default.target
WantedBy=awesome.target
WantedBy=openbox.target
