
[Unit]
Description=The Awesome Window Manager
After=xorg.target
Requires=xorg.target
Requires=dbus.socket

[Service]
Type=simple
EnvironmentFile=%h/.config/systemd/conf/xenvironment
# ExecStart=/usr/bin/awesome
ExecStart=/bin/bash -c "%h/.config/systemd/scripts/awesome.sh start"

[Install]
WantedBy=awesome.target
