[Unit]
Description=awesome wm session
AllowIsolate=true

BindsTo=graphical-session.target
Before=graphical-session.target

BindsTo=xorg.service
After=xorg.service

BindsTo=awesome.service
After=awesome.service

[Install]
WantedBy=desktop.target
WantedBy=laptop.target
WantedBy=tablet.target
WantedBy=vncserver.target
