[Unit]
Description=Awesome window manager at display %i

After=xserver@%i.target
After=xorg@%i.service vncserver@%i.service x11vnc@%i.service xephyr@%i.service
After=compton.service xrandr-auto.service

Requisite=xserver@%i.target

[Service]
Type=simple
SyslogIdentifier=awesome
Environment=DISPLAY=:%i
ExecStart=/home/abdo/.config/systemd/scripts/awesome.sh start
KillSignal=SIGINT
TimeoutSec=15
