[Unit]
Description=Setup bamboo tablet coordinates
After=graphical.target
ConditionHost=grothendieck

Requisite=graphical.target

[Service]
Type=oneshot
SyslogIdentifier=bamboo
ExecStart=/home/abdo/.config/systemd/scripts/bamboo.sh
