[Unit]
Description=Setup bamboo tablet coordinates
After=xorg@0.service
ConditionHost=grothendieck

Requisite=xorg@0.service

[Service]
Type=oneshot
EnvironmentFile=%h/.config/systemd/conf/xenvironment
ExecStart=/usr/bin/xsetwacom --set "Wacom Bamboo Pen Pen stylus" Area 0 0 29440 9200
ExecStart=/usr/bin/xsetwacom --set "Wacom Bamboo Pen Pen eraser" Area 0 0 29440 9200

[Install]
WantedBy=desktop.target
