[Unit]
Description=trigger final actions and shutdown
StopWhenUnneeded=true

# If it fails, email me a piece of journal
OnFailure=journal-mailer.service

# refresh cached passphrase now
Requires=gpg-agent-auth.service

After=final-synced-data.target final-synced-mail.target
Before=final-poweroff.service

Wants=final-synced-data.target
Requires=final-synced-mail.target final-poweroff.service
