[Unit]
Description=trigger final actions and sleep
StopWhenUnneeded=true

# If a target fails to start notify by mail.
Requires=journal-mailer.service
After=journal-mailer.service

# refresh cached passphrase now
Requires=gpg-agent-auth.service

After=final-synced-data.target final-synced-mail.target
Before=final-suspend.service
Requires=final-synced-data.target final-synced-mail.target final-suspend.service
