[Unit]
Description=calf jack host

Requisite=wm.target
After=wm.target

Requires=jack.service
After=jack.service

[Service]
Type=simple
Slice=apps.slice

ExecStart=/usr/bin/calfjackhost


