[Unit]
Description=calibre
After=xorg.target

Requisite=desktop.target 
Requires=calibre-db.service
After=calibre-db.service

[Service]
Type=simple
SyslogIdentifier=calibre

ExecStart=/usr/bin/calibre --with-library="$AB2_CALIBRE_DIR"
ExecStop=/usr/bin/calibre --shutdow-running-calibre

