[Unit]
Description=Calibre
After=xorg@0.service

Requisite=xorg@0.service
Requires=dbus.socket

[Service]
Type=simple
SyslogIdentifier=calibre

# make database files editable
ExecStartPre=/home/abdo/.config/systemd/scripts/calibre.sh edit

ExecStart=/home/abdo/.config/systemd/scripts/calibre.sh start
ExecStop=/home/abdo/.config/systemd/scripts/calibre.sh stop

# commit changes
ExecStopPost=/home/abdo/.config/systemd/scripts/calibre.sh commit

[Install]
WantedBy=desktop.target
