[Unit]
Description=Calibre Server

Requires=calibre-db.service
After=calibre-db.service

[Service]
Type=simple
ExecStart=/usr/bin/calibre-server --with-library=/home/abdo/lib
