[Unit]
Description=calibre stop

Conflicts=calibre.service calibre-server.service calibre-db.service

[Service]
Type=oneshot
SyslogIdentifier=calibre-stop
ExecStart=/usr/bin/true
