[Unit]
Description=unlock calibre database

StopWhenUnneeded=true
ConditionPathExists=/home/%u/lib

Requisite=synced.target
After=synced.target

[Service]
Type=oneshot
RemainAfterExit=true
SyslogIdentifier=calibre-db

ExecStart=/usr/bin/true
ExecStop=/usr/bin/systemctl --user --no-block start commit-calibre.service
