[Unit]
Description=commit calibre library

Requires=calibre-stop.service

[Service]
Type=oneshot

SyslogIdentifier=calibre-commit
ExecStart=/home/abdo/.config/systemd/scripts/calibre.sh commit
