[Unit]
Description=Commit calibre library

Conflicts=calibre.service
Before=calibre.service

[Service]
Type=oneshot

SyslogIdentifier=calibre-commit
ExecStart=/home/abdo/.config/systemd/scripts/calibre.sh commit
