[Unit]
Description=calibre stop

Conflicts=calibre.service
Conflicts=calibre-server.service

[Service]
Type=oneshot
SyslogIdentifier=calibre-stop
ExecStart=/usr/bin/true
