[Unit]
Description=jack patch bay

Requisite=wm.target
After=wm.target

Requires=jack.service
After=jack.service

[Service]
Type=simple
Slice=apps.slice

ExecStart=/usr/bin/catia


