[Unit]
Description=chat log database
StopWhenUnneeded=true

# chat logs are under ~/var/chat
Requisite=initial-synced-all.service
After=initial-synced-all.service

[Service]
Type=oneshot
RemainAfterExit=true

SyslogIdentifier=chat-db
ExecStart=/usr/bin/true
ExecStop=/usr/bin/systemctl --user start commit-chat.service

