[Unit]
Description=chat away state
ConditionPathExists=%t/emacs/chat

[Service]
Type=oneshot
RemainAfterExit=yes

StandardOutput=null
ExecStart=/usr/bin/emacsclient -s %t/emacs/chat -e '(abdo-chat-away)'
ExecStop=/usr/bin/emacsclient -s %t/emacs/chat -e '(abdo-chat-back)'
