[Unit]
Description=chat log database
StopWhenUnneeded=true

Requisite=initial-synced-data.target
After=initial-synced-data.target

[Service]
Type=oneshot
RemainAfterExit=true

SyslogIdentifier=chat-db
ExecStart=/usr/bin/true
ExecStop=/usr/bin/systemctl --user start commit-chat.service

