[Unit]
Description=chat

Requires=mount-priv.service
After=mount-priv.service

Requisite=wm.target
After=wm.target

Requires=chat-db.service
After=chat-db.service

[Service]
Type=simple
SyslogIdentifier=chat
Slice=dropdown.slice

ExecStart=/usr/bin/emacs -chat --title "emacs-chat"
KillSignal=SIGINT
