[Unit]
Description=mail checker daemon
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/home/abdo/.config/systemd/scripts/check-mail.py -w 5 -d -n
