[Unit]
Description=chromium %i

Requisite=wm.target 
After=wm.target

[Service]
Type=simple
Slice=apps.slice

ExecStart=/usr/bin/chromium --force-device-scale-factor=1
StandardOutput=null


