[Unit]
Description=clean backup files

Requisite=housekeeping.target
After=housekeeping.target

[Service]
Type=oneshot
Slice=workers.slice

ExecStart=/usr/bin/find "%h/var/trash/" -ctime +30 -mindepth 1 -exec rm -Rf {} +
