[Unit]
Description=daily backup cleanup

PartOf=housekeeping.target

[Timer]
OnCalendar=daily

RandomizedDelaySec=1d
AccuracySec=1ms

Persistent=true
Unit=clean-backups.service

[Install]
WantedBy=housekeeping.target