[Unit]
Description=clean backup files

Requisite=housekeeping.target

[Service]
Type=oneshot
Slice=workers.slice

ExecStart=/usr/bin/find "%h/var/emacs/bak/" -type f -ctime +90 -mindepth 1 -print -delete
ExecStart=/usr/bin/find "%h/var/vim/bak/" -type f -ctime +90 -mindepth 1 -print -delete
