[Unit]
Description=Clean user transient units
Conflicts=apps.service dropdown.service

[Service]
Type=oneshot

SyslogIdentifier=clean-transient
ExecStart=/home/abdo/.config/systemd/scripts/clean-transient-units.sh
