[Unit]
Description=daily tmp cleanup

PartOf=housekeeping.target

[Timer]
OnCalendar=daily
RandomizedDelaySec=12h
Persistent=true
Unit=clean-tmp.service

[Install]
WantedBy=housekeeping.target