[Unit]
Description=Clean user transient units

[Service]
Type=oneshot

SyslogIdentifier=clean-transient
ExecStart=/usr/bin/find "%h/.config/systemd/user/" -regex '.*/run-\(.+\)\.\(scope\|service\)\(\.d\)?$' -print -exec rm -Rf {} \;


