[Unit]
Description=clean backup files

PartOf=housekeeping.target

[Service]
Type=oneshot
Slice=workers.slice

ExecStart=/usr/bin/find "%h/var/trash/" -ctime +30 -mindepth 1 -maxdepth 1 -print -exec rm -Rf {} +
