[Unit]
Description=compton X compositor

Requisite=xorg.service
After=xorg.service

Before=graphical-session.target

# NOTE: compton should be started after awesome, otherwise funny things happen to the wallpaper...
After=awesome.service openbox.service

[Service]
Type=simple
Slice=wm.slice

ExecStart=/usr/bin/compton
StandardOutput=null

[Install]
WantedBy=xorg.service
