[Unit]
Description=Compton X compositor

Requisite=xorg.service
After=xorg.service

# NOTE: compton should be started after awesome, otherwise funny things happen to the wallpaper...
After=awesome.service openbox.service xmonad.service

[Service]
Type=simple
SyslogIdentifier=compton
Slice=wm.slice

ExecStart=/usr/bin/compton

[Install]
WantedBy=comptositor.target