[Unit]
Description=Compton X compositor
After=xorg@%i.service
StopWhenUnneeded=true

Requisite=xorg@%i.service

[Service]
Type=simple
Environment=DISPLAY=:%i
ExecStart=/usr/bin/compton
