[Unit]
Description=Compton X compositor

Requisite=graphical.target
After=graphical.target

[Service]
Type=simple
SyslogIdentifier=compton
Slice=wm.slice

ExecStart=/usr/bin/compton

[Install]
WantedBy=wm.target