[Unit]
Description=Compton X compositor
After=xorg@%I.service
StopWhenUnneeded=true
Requires=xorg@%I.service

[Service]
Type=simple
EnvironmentFile=%h/.config/systemd/conf/xenvironment
Environment=DISPLAY=:%I
ExecStart=/usr/bin/compton

[Install]
WantedBy=xorg.target
