[Unit]
Description=suspend system in 20 seconds
DefaultDependencies=no

Requires=delay@20.service
After=delay@20.service

BindsTo=systemd-suspend.service
Before=systemd-suspend.service
