[Unit]
Description=suspend system in 20 seconds
DefaultDependencies=no

Before=lock.target systemd-suspend.service slimlock.service

BindsTo=suspend.target
Before=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sleep 20