[Unit]
Description=manage desktop slices
# NOTE: we need this because we can't add Requires deps on transient units, and
# need to manually kill those slices before desktop goes down.

PartOf=desktop.target
Before=desktop.target

Requires=apps.slice dropdown.slice
After=apps.slice dropdown.slice

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=/usr/bin/true

ExecStop=/usr/bin/systemctl --user kill apps.slice
ExecStop=/usr/bin/systemctl --user kill dropdown.slice
