[Unit]
Description=desktop environment

StopWhenUnneeded=true
AllowIsolate=true

Conflicts=console.target

Requires=graphical.target
After=graphical.target

