[Unit]
Description=manage desktop slices

Before=desktop.target

Requires=apps.slice dropdown.slice
After=apps.slice dropdown.slice

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=/usr/bin/systemctl --user start apps.slice
ExecStart=/usr/bin/systemctl --user start dropdown.slice

ExecStop=/usr/bin/systemctl --user kill apps.slice
ExecStop=/usr/bin/systemctl --user kill dropdown.slice
