[Unit]
Description=desktop configuration
AllowIsolate=true

Conflicts=console.target laptop.target tablet.target

Requires=graphical.target
After=graphical.target

