[Unit]
Description=close active network services

DefaultDependencies=no
Before=sleep.target shutdown.target

[Install]
WantedBy=sleep.target
WantedBy=exit.target
