[Unit]
Description=dropbox daemon

Requisite=xorg@0.service
Requires=dbus.socket

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/dropboxd
