[Unit]
Description=manage dropdown.slice

Requires=desktop.target dropdown.slice
After=desktop.target dropdown.slice

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=/usr/bin/systemctl --user start dropdown.slice
ExecStop=/usr/bin/systemctl --user kill dropdown.slice
