[Unit]
Description=dwb %i

Requisite=wm.target 
After=wm.target

Requires=dwb-db.service
After=dwb-db.service

[Service]
Type=simple
SyslogIdentifier=dwb
Slice=apps.slice

ExecStart=/usr/bin/dwb
StandardOutput=null

