[Unit]
Description=mount volumes on ec2 instance of %i

Requires=network-online.target
After=network-online.target

Requires=mount-priv.service
After=mount-priv.target

# Requires=ec2-attach@%i.service
# After=ec2-attach@%i.service

Requires=host-wait-online@%i.service
After=host-wait-online@%i.service

[Service]
Type=oneshot
RemainAfterExit=true
SyslogIdentifier=ec2-mount

ExecStart=/home/abdo/.config/systemd/scripts/ec2-host.sh mount %i
ExecStop=/home/abdo/.config/systemd/scripts/ec2-host.sh umount %i
