[Unit]
Description=virtual machine '%i' at EC2

[Service]
Type=oneshot
ExecStart=/home/abdo/bin/vmctl start %I

# Wait until machin is reachable via its public hostname
ExecStartPost=/usr/bin/sh -c '                                         \
    while true; do                                                     \
        ping -q -c 1 %I.host.abdoroig.net 2>&1 > /dev/null && break;   \
        sleep 10;                                                      \
    done                                                               \
'

# TODO: this should not wait synchronously for the vm to stop
ExecStop=/home/abdo/bin/vmctl stop %I

