[Unit]
Description=emacs daemon

# need a dependency on xorg. otherwise, when X quits emacs crashes.
# emacsclient says something about a long standing GTK bug.
Requisite=desktop.target
After=desktop.target

Requires=apps.slice
After=apps.slice

[Service]
Type=forking
SyslogIdentifier=emacs
ExecStart=/usr/bin/emacs --daemon
SuccessExitStatus=0 15

# Kill with a SIGINT. Usually at this point emacs is gone
KillSignal=SIGINT

Slice=apps.slice

[Install]
WantedBy=default.target
