[Unit]
Description=emacs client %i

Requisite=graphical.target 
After=graphical.target

Requires=emacs.service
After=emacs.service

[Service]
Type=simple
Slice=apps.slice

ExecStart=/usr/bin/emacsclient -s "%t/emacs/server" -c

