[Unit]
Description=ask to save emacs buffers

# So that emacs.service is stoped after this. The stopping order gets reversed.
After=emacs.service

Before=kill-apps.service kill-dropdown.service
Before=wmclean.target

[Service]
Type=oneshot

ExecStart=/home/abdo/bin/emacs-run -q -s emacs.service -k server '(abdo-save-buffers-new-frame)'

# NOTE: this is a command-line using inhibitors. Currently is messy: need to put inhibitors as root
# ExecStart=/usr/bin/sudo systemd-inhibit --mode=delay --what=sleep:shutdown --who=%p --why="Manually closing files" %h/.config/systemd/scripts/emacs-ask-save.sh emacs.servce %t/emacs/server

[Install]
WantedBy=wmclean.target