[Unit]
Description=emacs daemon socket

[Socket]
ListenStream=%t/emacs/server
SocketMode=0600
DirectoryMode=0700
Service=emacs.service

[Install]
WantedBy=sockets.target
