[Unit]
Description=ask to save emacs buffers

[Service]
Type=oneshot
SyslogIdentifier=emacs-session
# TODO: do not fail if emacs is not running
ExecStart=/usr/bin/sh -c "${EMACSCLIENT} --eval '(abdo-save-buffers-new-frame)' | grep nil > /dev/null"

