[Unit]
Description=emacs client %i

Requisite=wm.target 
After=wm.target

[Service]
Type=simple
SyslogIdentifier=emacsclient
Slice=apps.slice

ExecStart=/home/abdo/bin/emacs-client


