[Unit]
Description=emacs daemon

# need a dependency on xorg. otherwise, when X quits emacs crashes.
# emacsclient says something about a long standing GTK bug.
Requisite=graphical-session.target
After=graphical-session.target

Requires=emacs.socket
After=emacs.socket

[Service]
Type=forking
Slice=daemons.slice

ExecStart=/usr/bin/emacs --daemon --eval '(setq server-socket-dir "%t/emacs/emacs")'

ExecReload=/usr/bin/emacsclient -s "%t/emacs/server" --eval '(dotspacemacs/sync-configuration-layers)'

TimeoutStartSec=10min
SuccessExitStatus=0 15

# Kill with a SIGINT. This calls kill-emacs. No buffer saving is done.
KillSignal=SIGINT

[Install]
WantedBy=graphical-session.target
