[Unit]
Description=Emacs daemon
Requisite=xorg.target
After=xorg.service

[Service]
Type=forking
ExecStart=/home/abdo/.config/systemd/scripts/emacs start
ExecStop=/home/abdo/.config/systemd/scripts/emacs stop
Restart=always
RestartSec=2
SuccessExitStatus=0 15

[Install]
WantedBy=default.target
