[Unit]
Description=fetch news
StopWhenUnneeded=true

Requires=mail-db.service
After=mail-db.service

Requires=mutag-autotag.service rss2maildir.service
After=mutag-autotag.service rss2maildir.service
