[Unit]
Description=fetch contacts
StopWhenUnneeded=true

Requisite=initial-synced-data.target
After=initial-synced-data.target

Requires=mail-db.service
After=mail-db.service

Requires=gcont-sync.service
After=gcont-sync.service
