[Unit]

ConditionHost=skynet

Description=fetch mail and news
StopWhenUnneeded=true

Requires=git-use@mail.service
After=git-use@mail.service

Requires=offlineimap.service rss2maildir.service
After=offlineimap.service rss2maildir.service
