[Unit]
Description=fetch mail and news
StopWhenUnneeded=true

Wants=journal-show.service
After=journal-show.service

Requires=git-use@mail.service
After=git-use@mail.service

# Requires=gcal-sync.service 
# After=gcal-sync.service

Requires=gcont-sync.service offlineimap.service rss2maildir.service
After=gcont-sync.service offlineimap.service rss2maildir.service

Requires=mutag-autotag.service mutag-index.service
After=mutag-autotag.service mutag-index.service