[Unit]
Description=fetch news
Wants=mutag.service
Before=mutag.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rss2maildir -v -l %h/var/log/rss2maildir.log
