[Unit]
Description=fetch mail

# stopping of git-use@mail propagates to this target
PartOf=git-use@mail.service
Before=git-use@mail.service

Requires=offlineimap.service
Before=offlineimap.service

Requires=mutag-autotag.service mutag-index.service
Before=mutag-autotag.service mutag-index.service