[Unit]
Description=fetch mail
StopWhenUnneeded=true

Requires=initial-synced-data.target
After=initial-synced-data.target

Requires=mail-db.service
After=mail-db.service

Requires=mutag.service offlineimap.service
After=mutag.service offlineimap.service
