[Unit]
Description=fetch contacts

Requires=online.service
After=online.service

StopWhenUnneeded=true
AllowIsolate=true

Wants=gcont-sync.service

Requires=mail-db.service
After=mail-db.service
