[Unit]
Description=fetch news
StopWhenUnneeded=true

Requires=online.service
After=online.service

Wants=rss2maildir.service mutag.service

Requires=mail-db.service
After=mail-db.service
