[Unit]
Description=fetch mail and news

# Requires=gcal-sync.service 
# After=gcal-sync.service

# stopping of git-use@mail propagates to this target
PartOf=git-use@mail.service
Before=git-use@mail.service

Requires=offlineimap.service rss2maildir.service
Before=offlineimap.service rss2maildir.service

Requires=fetch-contacts.service
Before=fetch-contacts.service

Requires=gcal-sync.service
Before=gcal-sync.service

Requires=mutag-autotag.service mutag-index.service
Before=mutag-autotag.service mutag-index.service
