[Unit]
Description=fetch mail and news

Requires=initial-synced-data.target
After=initial-synced-data.target

StopWhenUnneeded=true
AllowIsolate=true

Requires=mail-db.service
After=mail-db.service

