[Unit]
Description=fetch news
StopWhenUnneeded=true

Requisite=initial-synced-data.target
After=initial-synced-data.target

Requires=mail-db.service
After=mail-db.service

Requires=mutag.service rss2maildir.service
After=mutag.service rss2maildir.service
