[Unit]
Description=final shutdown

Requires=final-synced-data.target
After=final-synced-data.target

Requires=systemd-poweroff.service
Before=systemd-poweroff.service

[Service]
Type=oneshot
SyslogIdentifier=poweroff
ExecStart=/usr/bin/sh -c "echo 'Poweroff in 10 seconds'; sleep 10"
