[Unit]
Description=final mail sync

Requisite=initial-synced-data.target

Requires=gcal-sync.service gcont-sync.service mutag.service offlineimap.service rss2maildir.service
After=gcal-sync.service gcont-sync.service mutag.service offlineimap.service rss2maildir.service
