[Unit]
Description=final shutdown

Requires=final-synced-data.target
After=final-synced-data.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl poweroff
