[Unit]
Description=final suspend

Requires=final-synced-data.target
After=final-synced-data.target

Requires=systemd-suspend.service
Before=systemd-suspend.service

[Service]
Type=oneshot
SyslogIdentifier=suspend
ExecStart=/usr/bin/sh -c "echo 'Suspend in 10 senconds'; sleep 10"
