[Unit]
Description=filesystem '%i' flag

[Service]
Type=oneshot
RemainAfterExit=true

SyslogIdentifier=flag
ExecStart=/usr/bin/touch "%t/%i"
ExecStop=/usr/bin/rm "%t/%i"

