[Unit]
Description=fluidsynth daemon

Requisite=jack.service
After=jack.service

Requires=audio.slice
After=audio.slice

[Service]
Type=simple
ExecStart=/usr/bin/fluidsynth -si -a jack -m jack -r 48000 -o synth.cpu-cores=2


# realtime scheduling
CPUSchedulingPolicy=rr
CPUSchedulingPriority=60

Slice=audio.slice

[Install]
WantedBy=multi-user.target
