[Unit]
Description=fluidsynth daemon

Requires=jack.service
After=jack.service

Requires=audio.slice
After=audio.slice

[Service]
Type=simple
ExecStart=/usr/bin/fluidsynth -si -a jack -m jack -r 44100 -o synth.cpu-cores=2

# realtime scheduling
CPUSchedulingPolicy=rr
CPUSchedulingPriority=60

Slice=audio.slice

