[Unit]
Description=sync google calendar

Requires=mount-priv.service
After=mount-priv.service

# gcal accesses and changes ~/work/wiki
Requisite=initial-synced-all.service
After=initial-synced-all.service

Requires=online.service
After=online.service

[Service]
Type=oneshot
SyslogIdentifier=gcal-sync
ExecStart=/usr/bin/make -C "$AB2_WIKI_DIR" ical
ExecStart=/usr/bin/gcal -S
