[Unit]
Description=sync google calendar

After=initial-synced-data.target
After=journal-mailer.service

Requires=online.service
After=online.service

[Service]
Type=oneshot
SyslogIdentifier=gcal-sync
ExecStart=/usr/bin/make -C "$AB2_WIKI_DIR" ical
ExecStart=/usr/bin/gcal -S
