[Unit]
Description=sync google calendar

# gcal accesses and changes ~/work/wiki
Requisite=initial-synced-work.target
After=initial-synced-work.target

Requires=online.service
After=online.service

[Service]
Type=oneshot
SyslogIdentifier=gcal-sync
ExecStart=/usr/bin/make -C "$AB2_WIKI_DIR" ical
ExecStart=/usr/bin/gcal -S
