[Unit]
Description=sync google contacts

Requires=mount-priv.service
After=mount-priv.service

# gcont store contacts in ~/mail
Requisite=synced.target
After=synced.target

Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/gcont -d
