[Unit]
Description=sync google contacts

AssertPathExists=/home/%u/mail
AssertPathExists=/home/%u/priv

After=mount-priv.service

# gcont store contacts in ~/mail
Requisite=synced.target
After=synced.target

Requires=git-use@mail.service
After=git-use@mail.service

Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
Slice=workers.slice

ExecStart=/usr/bin/gcont -d
