[Unit]
Description=fetch google contacts
Requires=online.service
After=online.service

[Service]
Type=oneshot
ExecStart=/usr/bin/gcont -d -p %h/mail/contacts
