[Unit]
Description=commit git repo at /home/%u/%I

ConditionPathExists=/home/%u/%I/.git

[Service]
Type=oneshot

SyslogIdentifier=commit-%i
ExecStart=/home/abdo/.config/systemd/scripts/git-commit.sh "/home/%u/%I"
