[Unit]
Description=garbage collect git repo at /home/%u/%I

ConditionPathExists=/home/%u/%I/.git

[Service]
Type=oneshot

SyslogIdentifier=git-gc-%i
ExecStart=/usr/bin/git -C "/home/%u/%I" gc
