[Unit]
Description=glances monitor dropdown

Requisite=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Slice=apps.slice

ExecStart=/usr/bin/termite --class=glances -e "/usr/bin/glances"

