[Unit]
Description=mpd client

Requisite=wm.target
After=wm.target

Requires=mpd.service

[Service]
Type=simple
SyslogIdentifier=gmpc
Slice=dropdown.slice

ExecStart=/usr/bin/gmpc --debug-level=0
