[Unit]
Description=listen ssh-agent requests locally

Requires=gpg-agent.service
After=gpg-agent.service

[Service]
Type=simple
SyslogIdentifier=ssh-agent-proxy
ExecStart=/usr/lib/systemd/systemd-socket-proxyd %h/.gnupg/S.gpg-agent.ssh
