[Unit]
Description=gpg-agent daemon
ConditionHost=!skynet

[Service]
Type=forking
SyslogIdentifier=gpg-agent
ExecStart=/usr/bin/gpg-agent --daemon --use-standard-socket