[Unit]
Description=refresh gpg-agent passphrase

Requires=gpg-agent.target
After=gpg-agent.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sudo true

