[Unit]
Description=refresh gpg-agent environment

Requires=gpg-agent.service
After=gpg-agent.service

After=graphical.target console.target

[Service]
Type=oneshot

ExecStart=/usr/bin/sh -c '                                              \
    loginctl --no-legend list-sessions | awk \'{ print $$1 }\' |        \
    while read s; do                                                    \
        if loginctl show-session -p Active $$s | grep -q yes; then      \
            export GPG_TTY="$$(loginctl --no-legend show-session $$s |  \
                sed -n "s|TTY=\\(.*\\)|/dev/\\1|p")";                   \
            echo "Updating TTY: $$GPG_TTY";                             \
            gpg-connect-agent updatestartuptty /bye;                    \
        fi                                                              \
    done                                                                \
'
