[Unit]
Description=gpg-agent bundle

Wants=gpg-agent.socket gpg-agent-ssh.socket
Wants=gpg-agent-forward.socket gpg-agent-ssh-forward.socket
Wants=gpg-agent-forward-proxy.service gpg-agent-ssh-forward-proxy.service
