[Unit]
Description=forward ssh agent socket

[Socket]
ListenStream=%t/gpg-agent/S.gpg-agent.ssh.forward
Service=gpg-agent-ssh-forward.service
SocketMode=755

[Install]
WantedBy=sockets.target