[Unit]
Description=ssh agent local proxy

# Requires=gpg-agent-ssh.socket
# After=gpg-agent-ssh.socket

Requires=gpg-agent.service
After=gpg-agent.service

[Service]
Type=simple
SyslogIdentifier=ssh-agent-proxy
ExecStart=/usr/bin/socat UNIX-LISTEN:%t/gpg-agent/S.gpg-agent.ssh,unlink-early,mode=755 UNIX-CONNECT:%h/.gnupg/S.gpg-agent.ssh
# ExecStart=/usr/lib/systemd/systemd-socket-proxyd %h/.gnupg/S.gpg-agent.ssh
