[Unit]
Description=forward ssh agent requests over the net

[Service]
Type=simple
SyslogIdentifier=gpg-agent-forward
ExecStart=/usr/lib/systemd/systemd-socket-proxyd localhost:11011

