[Unit]
Description=refresh gpg-agent passphrase

Wants=gpg-agent.service
After=gpg-agent.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sudo true

