[Unit]
Description=trigger initial actions
StopWhenUnneeded=true

# If it fails, email me a piece of journal
OnFailure=journal-mailer.service

# refresh cached passphrase now
Requires=gpg-agent-auth.service

# trigger a homedir sync
Requires=initial-synced-base.target initial-synced-lib.target initial-synced-mail.target
Requires=initial-synced-work.target initial-synced-rest.target
After=initial-synced-base.target initial-synced-lib.target initial-synced-mail.target 
After=initial-synced-work.target initial-synced-rest.target
