[Unit]
Description=wakeup hodge in the morning
ConditionHost=hodge

[Timer]
OnCalendar=Mon-Fri 09:30
WakeSystem=true
Unit=hi.target

[Install]
WantedBy=timers.target