[Unit]
Description=sync homedir to remote %i

ConditionPathExists=/home/%u/.mrconfig

Requires=mount-priv.service
After=mount-priv.service

[Service]
Type=oneshot
Slice=workers.slice
SyslogIdentifier=homedir-sync

WorkingDirectory=/home/%u
ExecStart=/home/abdo/etc/mr/bin/homedir sync %i

[Install]
Alias=sync@.service
