[Unit]
Description=sync homedir to remote %I

AssertPathExists=/home/%u/arch/sync/Makefile
AssertPathExists=/home/%u/priv/mnt

[Service]
Type=oneshot
Slice=workers.slice

Nice=19
WorkingDirectory=/home/%u/arch/sync
ExecStart=/usr/bin/make sync TERSE=1 COLOR=0 REMOTES=%I

