[Unit]
Description=garbage collect homedir

ConditionACPower=yes
ConditionPathExists=/home/abdo/.mrconfig

[Service]
Type=oneshot
Slice=workers.slice
SyslogIdentifier=homedir-gc

IOSchedulingClass=idle
WorkingDirectory=/home/%u
ExecStart=/usr/bin/mr --stats -t gc
