[Unit]
Description=weekly garbage collection of /home/%u/%I

PartOf=housekeeping.target

[Timer]
OnCalendar=weekly

RandomizedDelaySec=1M
AccuracySec=1ms

Persistent=true
Unit=homedir-gc@%i.service

[Install]
WantedBy=housekeeping.target
