[Unit]
Description=sync homedir to remote %i

ConditionPathExists=/home/%u/.mrconfig

[Service]
Type=oneshot
Slice=workers.slice
SyslogIdentifier=home-sync

WorkingDirectory=/home/%u
ExecStart=/usr/bin/mr sync --content --quiet %i
