[Unit]
Description=novation impulse

[Service]
Type=oneshot
SyslogIdentifier=impulse
RemainAfterExit=true

ExecStart=/usr/bin/sudo /home/abdo/.config/systemd/scripts/usbpower.sh "on" "6-2"
ExecStop=/usr/bin/sudo /home/abdo/.config/systemd/scripts/usbpower.sh "off" "6-2"


