[Unit]
Description=sync with default remote

OnFailure=journal-mailer.service

Requires=async-default-needed.service
After=async-default-needed.service
