[Unit]
Description=jack2 server
Documentation=man:jackd(1)

Requires=audio.slice
After=audio.slice

Conflicts=pulseaudio.service pulseaudio.socket
After=pulseaudio.service pulseaudio.socket

[Service]
Type=simple
Slice=audio.slice

# NOTE: t
ExecStart=/usr/bin/jackd --realtime -d alsa                                   \
    --device hw:analog --rate 44100 --nperiods 2 --period 128 --midi raw
