[Unit]
Description=jack server

# We let pulse handle everything and then jack steals the main device.
Requires=pulseaudio.service

Requires=jack.service jackdbus.service a2jmidid.service
After=jack.service jackdbus.service a2jmidid.service