[Unit]
Description=jack server
Documentation=man:jack(1)

Requisite=audio.target pulseaudio.service

Requires=jackdbus.service
After=jackdbus.service

Requires=audio.slice
After=audio.slice

[Service]
Type=oneshot
RemainAfterExit=true

# we use jackdbus
ExecStart=/usr/bin/jack_control start
ExecStart=/usr/bin/pactl set-default-sink jack_out

ExecStop=/usr/bin/jack_control stop

[Install]
WantedBy=audio.target
