[Unit]
Description=email journal tail

Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot

Environment=ACCOUNT=gmailcomp

ExecStart=/usr/bin/sh -c '                                      \
    subject="[%H] Journal notification";                        \
    journal=$$(journalctl -n40 -b -q);                          \
    echo -e "Subject: $${subject}\n\nJournal:\n$${journal}\n" | \
        msmtp -C /dev/null -a ${ACCOUNT} -- "%u";               \
    sleep 5                                                     \
'
