[Unit]
Description=triggers on journal messages

After=wm.target

[Service]
Type=simple
ExecStart=/usr/bin/journal-triggerd "%h/.config/journal-triggerd"

