[Unit]
Description=monitor journal

Requires=network-online.service
After=network-online.service

[Service]
Type=oneshot
SyslogIdentifier=journal-mailer
ExecStart=/home/abdo/.config/systemd/scripts/journal-mailer.sh
