[Unit]
Description=journal syslog terminal

[Service]
Type=simple
SyslogIdentifier=syslog
ExecStart=/usr/bin/termite -e "%h/etc/systemd/bin/jctl.py -f -n50"

Slice=dropdown.slice