[Unit]
Description=kill apps slice
# NOTE: we need this because we can't add Requires deps on transient units in apps or
# dropdown slices. So we need to manually kill them.

Before=wmclean.target

[Service]
Type=oneshot

SyslogIdentifier=kill-apps
ExecStart=/usr/bin/systemctl --user kill apps.slice

[Install]
RequiredBy=wmclean.target