[Unit]
Description=commit disk snapshot for vm %i

[Service]
Type=oneshot

Slice=machines.slice

EnvironmentFile=/home/abdo/.config/systemd/conf/machines.conf
EnvironmentFile=/home/abdo/.config/systemd/conf/machines.d/%i.conf

ExecStartPre=/usr/bin/mkdir -m 777 "${QEMU}/${DISK_BASE}.lock" "${QEMU}/${DISK_SNAPSHOT}.lock"
ExecStart=/usr/bin/qemu-img commit -b ${QEMU}/${DISK_BASE} ${QEMU}/${DISK_SNAPSHOT}
ExecStopPost=/usr/bin/rmdir "${QEMU}/${DISK_SNAPSHOT}.lock" "${QEMU}/${DISK_BASE}.lock"
