[Unit]
Description=arch virtual machine

Requisite=wm.target 
After=wm.target

[Service]
Type=simple

Slice=machines.slice

Environment=MACHINE=arch IMAGE=/home/abdo/virt/qemu/arch.qcow2

# NOTE: we use directory locks to make sure no two services attempt to
# access the same image. It is crude but atomic and effective!

ExecStartPre=/usr/bin/mkdir -m 777 ${IMAGE}.lck
ExecStartPre=/usr/bin/mkdir -p "%t/qemu/${MACHINE}"

ExecStart=/home/abdo/.config/systemd/bin/tmrun                                        \
    qemu-system-x86_64 -name ${MACHINE}                                               \
    -machine type=pc,accel=kvm -cpu host -smp 2 -m 2048 -boot menu=on                 \
    -usbdevice tablet -nographic -device virtio-serial                                \
    -netdev bridge,id=tapvirt,br=brvirt -device virtio-net,netdev=tapvirt             \
    -drive media=cdrom,file=${AB2_VIRT_DIR}/media/archlinux-2015.02.01-dual.iso       \
    -drive media=disk,if=virtio,file=${IMAGE}                                         \
    -monitor unix:%t/qemu/${MACHINE}/control,server,nowait

ExecStartPost=/usr/bin/echo "qemu PID: ${MAINPID}"

# TODO: machined needs privileges. I think systemd 220 relaxes this!
# ExecStartPost=/usr/binbusctl call                           \
#     'org.freedesktop.machine1' '/org/freedesktop/machine1'  \    
#     'org.freedesktop.machine1.Manager' 'RegisterMachine'    \
#     sayssus "${MACHINE}" '0' 'machine' 'vm' "$MAINPID" ''

ExecStop=/usr/bin/sh -c "echo system_powerdown | socat - UNIX-CONNECT:%t/qemu/${MACHINE}/control || true"
ExecStopPost=/usr/bin/rmdir ${IMAGE}.lck
