[Unit]
Description=qemu vm for %i

# prepare snapshot of root dirsk
Requires=machine-snapshot@%i.service
After=machine-snapshot@%i.service

# prepare snapshot of data disk
Requires=machine-snapshot@virtdata.service
After=machine-snapshot@virtdata.service

[Service]
Type=simple

Slice=machines.slice

EnvironmentFile=/home/abdo/virt/etc/machines.conf
EnvironmentFile=/home/abdo/virt/etc/machines.d/%i.conf

# use pulseaudio on host
Environment=QEMU_AUDIO_DRV=pa

ExecStartPre=/usr/bin/mkdir -p "%t/qemu/${MACHINE}"

# we use directory locks. It is crude but atomic and effective!
ExecStartPre=/usr/bin/mkdir -m 777 "${QEMU_SNAPSHOT}/${DISK_ROOT}.lock" "${QEMU_SNAPSHOT}/${DISK_DATA}.lock"

# NOTE: We need this for macosx 10.10.
# Got it from Gabriel Somlo http://www.contrib.andrew.cmu.edu/~somlo/OSXKVM
ExecStartPre=/usr/bin/sudo sh -c 'echo 1 > /sys/module/kvm/parameters/ignore_msrs'

# NOTE: I couldn't make the monitor interface work with a tcp socket.
ExecStart=/usr/bin/qemu-system-x86_64 -name ${MACHINE} \
    -boot menu=on \
    -machine type=q35,accel=kvm \
    -cpu ${DEVICE_CPU} \
    -smp 2 \
    -m 2048 \
    -usb \
    -monitor unix:%t/qemu/${MACHINE}/control,server,nowait \
    -serial telnet:localhost:${PORT_SERIAL},server,nowait \
    -netdev bridge,id=net_tap,br=brvirt \
    -soundhw hda \
    -device ${DEVICE_VIDEO} \
    -device usb-kbd \
    -device virtio-serial \
    -device virtio-balloon \
    -device ${DEVICE_NET},netdev=net_tap \
    -hda ${QEMU_SNAPSHOT}/${DISK_ROOT} \
    -hdb ${QEMU_SNAPSHOT}/${DISK_DATA} \
    $QEMU_ARGS

# TODO: try to attach those at runtime
# -drive media=cdrom,id=disk_cdrom,if=none,file=${QEMU_MEDIA}/${DISK_MEDIA} \
# -device ide-cd,drive=disk_cdrom \

# NOTE: No ExecStop. Sending SIGTERM to qemu performs a quit, which means clean for qemu,
# not clean for guest. We can't wait until the guest is ready though, so it is ok.

# TODO: machined needs privileges. I think systemd 220 relaxes this!
# TODO: Use RegisterMachineWithNetwork sayssusaio  pass array of ifindices
# TODO: machined assigns quemu's user service to user@1000.service. When terminating everything dies.

# ExecStartPost=/usr/bin/sudo busctl call \
#     org.freedesktop.machine1 /org/freedesktop/machine1 \
#     org.freedesktop.machine1.Manager RegisterMachine \
#     sayssus ${MACHINE} 0 machine vm ${MAINPID} ''

# ExecStopPost=/usr/bin/sudo busctl call \
#     org.freedesktop.machine1 /org/freedesktop/machine1 \
#     org.freedesktop.machine1.Manager TerminateMachine \
#     s ${MACHINE}

ExecStopPost=/usr/bin/rmdir "${QEMU_SNAPSHOT}/${DISK_ROOT}.lock" "${QEMU_SNAPSHOT}/${DISK_DATA}.lock"

