[Unit]
Description=mount disk image ~/virt/qemu/%i.qcow2 vm

Conflicts=machine-%i.service

Requires=machine-mount@%i.service
After=machine-mount@%i.service

[Service]
Type=simple
RemainAfterExit=true
Slice=machine.slice

ExecStartPre=/usr/bin/sudo touch /media/%i/chroot.sentinel
ExecStart=/usr/bin/sudo arch-chroot /media/%i inotifywait -q -e attrib /chroot.sentinel
ExecStop=/usr/bin/sudo rm /media/%i/chroot.sentinel

