[Unit]
Description=vnc client for %i vm

[Service]
Type=simple
Slice=machines.slice

EnvironmentFile=/home/abdo/.config/systemd/conf/machines.conf
EnvironmentFile=/home/abdo/.config/systemd/conf/machines.d/%i.conf

ExecStart=/usr/bin/vncviewer localhost::$VNCPORT
