[Unit]
Description=mail stop

Conflicts=mail-db.service mu4e.service 
Conflicts=rss2maildir.service mutag.service offlineimap.service gcont-sync.service
Conflicts=fetch.target mail.target fetc-mail.target fetch-news.target fetch-contacts.target

[Service]
Type=oneshot
RemainAfterExit=true

SyslogIdentifier=mail-stop
ExecStart=/usr/bin/true
