[Unit]
Description=fetch mail and launch mu4e
AllowIsolate=true

Wants=fetch.target 

BindsTo=mu4e.service
Before=mu4e.service

Requires=mail-db.service
After=mail-db.service

