[Unit]
Description=commit mail

Requires=mail-stop.service
After=mail-stop.service

[Service]
Type=oneshot

SyslogIdentifier=mail-commit
ExecStart=/home/abdo/.config/systemd/scripts/git-commit.sh "$AB2_MAIL_DIR"
