[Unit]
Description=mount sage overlay

ConditionPathExists=/home/%u/sage/local
Conflicts=umount.target

[Service]
Type=oneshot
RemainAfterExit=true

SyslogIdentifier=sage-overlay

# prepare workdir. Needs to be empty and on the same fs as the overlay.
ExecStartPre=/usr/bin/mkdir -p /home/%u/sage/.local-overlay
ExecStartPre=/usr/bin/rm -Rf /home/%u/sage/.local-overlay/*

# NOTE: linux 3.19 or 4.0 will support user-mounted overlayfs!
ExecStart=/usr/bin/sudo mount -t overlay -olowerdir=/usr,upperdir=/home/%u/sage/local,workdir=/home/%u/sage/.local-overlay overlay /home/%u/sage/local
ExecStop=/usr/bin/sudo umount /home/%u/sage/local
