[Unit]
Description=run mpc pause
ConditionPathExists=%t/mpd/mpd.pid

DefaultDependencies=no
Before=sleep.target shutdown.target lock-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/mpc pause
StandardOutput=null
