[Unit]
Description=music player daemon

Requires=mpd.socket
After=mpd.socket

Requisite=pulseaudio.service
After=pulseaudio.service

[Service]
Type=simple

Environment=PULSE_PROP=application.icon_name=emblem-sound
ExecStart=/usr/bin/mpd --no-daemon

Slice=audio.slice

[Install]
WantedBy=audio.target
