[Unit]
Description=Music Player Daemon
After=pulseaudio.service

[Service]
Type=forking
ExecStartPre=/usr/bin/mkdir -p /run/user/%U/mpd
ExecStart=/usr/bin/mpd
PIDFile=/run/user/%U/mpd/pid

[Install]
WantedBy=audio.target
