[Unit]
Description=mpd scrobbbler

Requisite=synced.target
After=synced.target

Requires=mpd.socket mpd.service
After=mpd.socket mpd.service


[Service]
Type = simple
ExecStart = /usr/bin/mpdscribble -D --conf %h/etc/mpd/mpdscribble.conf

Slice=audio.slice
