[Unit]
Description=MPD Scribbler
Requires=mpd.service
After=mpd.service
PartOf=audio.target

[Service]
Type = simple
ExecStart = /usr/bin/mpdscribble -D
Restart = always

[Install]
WantedBy = audio.target
