[Unit]
Description=mpd scribbler

Requisite=synced.target
After=synced.target

Requisite=mpd.socket
After=mpd.socket

Requires=audio.slice
After=audio.slice

[Service]
Type = simple
ExecStart = /usr/bin/mpdscribble -D

Slice=audio.slice