[Unit]
Description=mu4e mail client

Requisite=graphical.target
After=graphical.target

Requires=emacs.service
After=emacs.service

Requires=git-use@mail.service
After=git-use@mail.service

[Service]
Type=simple
Slice=dropdown.slice

ExecStart=/usr/bin/emacsclient -s "%t/emacs/server" -c --frame-parameters='((title . "emacs-mail"))' --eval "(spacemacs/custom-perspective-@mu4e)"
KillSignal=SIGINT

