[Unit]
Description=mu4e mail client

Requisite=desktop.target
After=desktop.target

PartOf=mail.target

[Service]
Type=simple
SyslogIdentifier=mu4e

ExecStart=/home/abdo/.config/systemd/scripts/mu4e.sh start
ExecStop=/home/abdo/.config/systemd/scripts/mu4e.sh stop

