[Unit]
Description=play sampled cello

Requires=jack.target
After=jack.target

Wants=linuxsampler.service linuxsampler-conf@cello.service qjackctl-play.service
After=linuxsampler.service linuxsampler-conf@cello.service qjackctl-play.service
