[Unit]
Description=music midi studio

Requires=jack.service
After=jack.service

Wants=qjackctl-studio.service qtractor.service yoshimi.service fluidsynth.service
After=qjackctl-studio.service qtractor.service yoshimi.service fluidsynth.service

