[Unit]
Description=music midi studio

Wants=jack.service impulse.service
After=jack.service impulse.service

Wants=qjackctl-studio.service qtractor.service yoshimi.service fluidsynth.service
After=qjackctl-studio.service qtractor.service yoshimi.service fluidsynth.service

