[Unit]
Description=play sampled piano

Wants=jack.target impulse.service
Wants=linuxsampler.service linuxsampler-conf@piano.service qjackctl-play.service
