[Unit]
Description=music midi studio

Requires=jack.service
After=jack.service

Wants=qjackctl-studio.service ardour.service yoshimi.service fluidsynth.service pianoteq.service
After=qjackctl-studio.service ardour.service yoshimi.service fluidsynth.service pianoteq.service

