[Unit]
Description=wait for network to be configured
Documentation=man:systemd-networkd-wait-network-online.service(8)

[Service]
Type=oneshot
TimeoutSec=30s

SyslogIdentifier=network-online

StandardOutput=null
ExecStart=/usr/bin/ping -W 10 -c 1 -q www.google.com
# ExecStart=/usr/lib/systemd/systemd-networkd-wait-online
