[Unit]
Description=chat

Requisite=desktop.target
After=desktop.target

Requires=orgmode-db.service
After=orgmode-db.service

[Service]
Type=simple
SyslogIdentifier=notes

ExecStart=/usr/bin/emacs -notes --title "emacs-notes"
ExecStop=/usr/bin/emacsclient -s notes -e '(progn (save-some-buffers t) (kill-emacs))'
