[Unit]
Description=offlineimap

ConditionPathExists=/home/%u/mail

Requires=mount-priv.service
After=mount-priv.service

Requisite=synced.target
After=synced.target

Requires=git-use@mail.service
After=git-use@mail.service

Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
Slice=workers.slice

ExecStart=/usr/bin/offlineimap
