[Unit]
Description=offlineimap

# offlineimap saves essages to ~/mail
Requisite=initial-synced-mail.target initial-synced-base.target
After=initial-synced-mail.target initial-synced-base.target

Requires=online.service
After=online.service

[Service]
Type=oneshot
ExecStart=/usr/bin/offlineimap -l %h/var/log/offlineimap.log
