[Unit]
Description=openbox window manager at display %i

After=xorg@%i.service vncserver@%i.service x11vnc@%i.service xephyr@%i.service
After=compton.service xrandr-auto.service

Requires=tint2@%i.service
Before=tint2@%i.service

Requisite=xserver@%i.target
After=xserver@%i.target

Before=wm.target

[Service]
Type=simple
SyslogIdentifier=openbox
Slice=wm.slice

Environment=DISPLAY=:%i
ExecStart=/usr/bin/openbox
KillSignal=SIGINT
TimeoutSec=15
