
[Unit]
Description=The Openbox Window Manager
After=xorg.target
Requires=xorg.service
Requires=dbus.socket
Conflicts=awesome.service
Conflicts=xmonad.service

[Service]
EnvironmentFile=%h/.config/systemd/conf/xenvironment
ExecStart=/usr/bin/bash %h/.config/systemd/scripts/openbox.sh

[Install]
WantedBy=openbox.target
