
[Unit]
Description=The Openbox Window Manager
After=xorg.target
Requires=xorg.service
Requires=dbus.socket

[Service]
EnvironmentFile=%h/.config/systemd/conf/xenvironment
ExecStart=/usr/bin/openbox
Restart=on-failure

[Install]
WantedBy=openbox.target
