[Unit]
Description=Openbox window manager at display %i
After=xserver@%i.target
After=xorg@%i.service
After=vncserver@%i.service
After=x11vnc@%i.service
After=xephyr@%i.service
After=compton@%i.service
StopWhenUnneeded=true

Requires=xserver@%i.target
Requires=dbus.socket

[Service]
EnvironmentFile=%h/.config/systemd/conf/xenvironment
Environment=DISPLAY=:%i
ExecStart=/home/abdo/.config/systemd/scripts/openbox start
# ExecStop=/home/abdo/.config/systemd/scripts/openbox stop

[Install]
WantedBy=openbox.target
