[Unit]
Description=org-mode

Requisite=desktop.target
After=desktop.target

Requires=orgmode-db.service
After=orgmode-db.service

[Service]
Type=simple
SyslogIdentifier=orgmode

ExecStart=/home/abdo/.config/systemd/scripts/orgmode.sh start
ExecStop=/home/abdo/.config/systemd/scripts/orgmode.sh stop


