[Unit]
Description=stop orgmode

Conflicts=orgmode-db.service orgmode.service 

[Service]
Type=oneshot
RemainAfterExit=true

SyslogIdentifier=orgmode-stop
ExecStart=/usr/bin/true
