[Unit]
Description=org-mode

Requisite=wm.target
After=wm.target

Requires=orgmode-db.service
After=orgmode-db.service

[Service]
Type=simple
SyslogIdentifier=orgmode
Slice=dropdown.slice

ExecStart=/usr/bin/emacs -org --title "emacs-org"
KillSignal=SIGINT


