[Unit]
Description=commit orgmode

Requires=orgmode-stop.service
After=orgmode-stop.service

[Service]
Type=oneshot

SyslogIdentifier=orgmode-commit
ExecStart=/home/abdo/.config/systemd/scripts/git-commit.sh "$AB2_WIKI_DIR"
