[Unit]
Description=update packages
Requires=network-online.service
After=network-online.service

[Service]
Type=oneshot
SyslogIdentifier=pacman
ExecStart=/usr/bin/sudo pacman -Syu --noconfirm
