[Unit]
Description=pulseaudio mixer

Requisite=graphical.target
After=graphical.target

Requisite=pulseaudio.service
After=pulseaudio.service

[Service]
Type=simple
Slice=apps.slice

ExecStart=/usr/bin/pavucontrol


