[Unit]
Description=Plank dock

Requisite=graphical.target
After=graphical.target

PartOf=tablet.target

[Service]
Type=simple

StandardOutput=null
ExecStart=/usr/bin/plank
