[Unit]
Description=Plank dock

Requisite=graphical.target
After=graphical.target

StopWhenUnneeded=true

[Service]
Type=simple
ExecStart=/usr/bin/plank
