[Unit]
Description=jack control interface

Requisite=jack.service
After=jack.service

[Service]
Type=simple
SyslogIdentifier=qjackctl
Slice=apps.slice

ExecStart=/usr/bin/qjackctl


