[Unit]
Description=linuxsampler frontend

Requisite=jack.service
After=jack.service

Requires=linuxsampler.service
After=linuxsampler.service

[Service]
Type=simple
SyslogIdentifier=qsampler
Slice=apps.slice

ExecStart=/usr/bin/qsampler


