[Unit]
Description=ranger dropdown

Requisite=wm.target 
After=wm.target

[Service]
Type=simple
Slice=dropdown.slice

ExecStart=/usr/bin/termite -t ranger -e ranger


