[Unit]
Description=ranger dropdown

Requisite=graphical.target 
After=graphical.target

[Service]
Type=simple
Slice=apps.slice

ExecStart=/usr/bin/termite --class=ranger-dropdown -e ranger


