[Unit]
Description=Redshift
After=xorg@%i.service
After=compton@%i.service
StopWhenUnneeded=true

Requisite=xorg@%i.service

[Service]
Type=simple
EnvironmentFile=%h/.config/systemd/conf/xenvironment
Environment=DISPLAY=:%i
ExecStart=/usr/bin/redshift -l 41.383:2.183 -t 6500:5500 -g 1.0 -m randr
