[Unit]
Description=rss2maildir

Requisite=initial-synced-all.service
After=initial-synced-all.service

Requires=online.service
After=online.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rss2maildir -v 
