[Unit]
Description=rss2maildir

ConditionPathExists=/home/%u/mail

Requisite=synced.target
After=synced.target

Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rss2maildir -v 
