[Unit]
Description=rss2maildir

Requisite=initial-synced-data.target
After=initial-synced-data.target
After=journal-mailer.service

Requires=online.service
After=online.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rss2maildir -v -l %h/var/log/rss2maildir.log
