[Unit]
Description=dvs saxophone synth

Requires=jack.service
After=jack.service

Requires=audio.slice
After=audio.slice

Requires=j2amidi-bridge@DVSSaxophoneBridge.service
After=j2amidi-bridge@DVSSaxophoneBridge.service

[Service]
Type=simple

Environment=VST_PATH=/home/abdo/usr/vst
ExecStart=/usr/bin/jack-dssi-host -c DVSSaxophone dssi-vst.so:DVSSaxophone.dll

ExecStartPost=/usr/bin/sleep 5
ExecStartPost=-/usr/bin/aconnect DVSSaxophoneBridge:0 DVSSaxophone:0
ExecStartPost=-/usr/bin/jack_connect system:midi_capture_1 DVSSaxophoneBridge:playback

# realtime scheduling
CPUSchedulingPolicy=rr
CPUSchedulingPriority=60

Slice=audio.slice
