
[Unit]
Description=enter suspend state

After=lock.target

[Service]
Type=oneshot

ExecStart=/usr/bin/sudo systemctl suspend

[Install]
WantedBy=sleep.target
