
[Unit]
Description=Lock screen with slimlock
Requires=dbus.socket
Requisite=xorg.service

[Service]
Type=simple
EnvironmentFile=%h/.config/systemd/conf/xenvironment
ExecStartPre=/home/abdo/.config/systemd/scripts/mouse lock
ExecStart=/usr/bin/slimlock
ExecStopPost=/home/abdo/.config/systemd/scripts/mouse unlock

[Install]
WantedBy=lock.target
