
[Unit]
Description=slimlock screen locker

Requisite=graphical.target
After=graphical.target

# so that when slimlock ends lock.target goes down
PartOf=lock.target

[Service]
Type=simple

ExecStartPre=/home/abdo/.config/systemd/scripts/mouse.sh lock
ExecStart=/usr/bin/slimlock
ExecStopPost=/home/abdo/.config/systemd/scripts/mouse.sh unlock

[Install]
WantedBy=lock.target
