
[Unit]
Description=Lock screen with slimlock
After=xorg@%i.service

Requires=dbus.socket
Requisite=xorg@%i.service

[Service]
Type=simple
EnvironmentFile=%h/.config/systemd/conf/xenvironment
Environment=DISPLAY=:%i
ExecStartPre=/home/abdo/.config/systemd/scripts/mouse.sh lock
ExecStart=/usr/bin/slimlock
ExecStopPost=/home/abdo/.config/systemd/scripts/mouse.sh unlock

[Install]
WantedBy=lock.target
