[Unit]
Description=virtual machine client %i

Requires=machine@%i.service
After=machine@%i.service

[Service]
Type=simple

ExecStart=/usr/bin/spicy -h localhost 5930


