[Unit]
Description=ssh connection proxy for %i

Requires=sshmux@%i.service
After=sshmux@%i.service

Requires=ssh-proxy@%i.socket
After=ssh-proxy@%i.socket

[Service]
Type=simple

SyslogIdentifier=ssh-proxy
ExecStart=/usr/lib/systemd/systemd-socket-proxyd %t/ssh/%i.socket


