[Unit]
Description=ssh master connection for %i

AssertHost=!%i

Requires=mount-priv.service
After=mount-priv.service

Requires=network-online.target
After=network-online.target

[Service]
Type=forking

SyslogIdentifier=sshmux
ExecStartPre=/usr/bin/mkdir -p "%t/ssh"
ExecStart=/usr/bin/ssh -M -o "ControlPersist=yes" %i true


