[Unit]
Description=ssh master connection for %i

Conflicts=disconnect.target

Requires=gpg-agent.service
After=gpg-agent.service

Requires=network-online.target
After=network-online.target

Requires=ssh-wait-online@%i.service
After=ssh-wait-online@%i.service

[Service]
Type=forking
Slice=daemons.slice

SyslogIdentifier=sshmux
ExecStartPre=/usr/bin/mkdir -p "%t/ssh"
ExecStart=/usr/bin/ssh -M -N -f -o "ControlPersist=1h" %i


