[Unit]
Description=streaming client %i

Requires=network-online.target
After=network-online.target

Requisite=audio.target
After=audio.target

Requires=audio.slice
After=audio.slice

[Service]
Type=simple
SyslogIdentifier=stream-%i
Slice=apps.slice

ExecStart=/home/abdo/.config/systemd/scripts/stream.sh %i

Slice=audio.slice

