[Unit]
Description=suspend system
DefaultDependencies=no

BindsTo=lock.target
After=lock.target

BindsTo=systemd-suspend.service
Before=systemd-suspend.service
