[Unit]
Description=sway window manager

Conflicts=openbox.service awesome.service

[Service]
Type=simple
Slice=wm.slice

ExecStart=/usr/bin/sway -c "%h/.config/sway/host/%H"
KillSignal=SIGINT
TimeoutSec=15

