[Unit]
Description=synchronize with hypathia sdcard
StopWhenUnneeded=true

BindsTo=media-share-hypathia.mount
After=media-share-hypathia.mount

Requires=calibre-db.service
After=calibre-db.service

BindsTo=async@hypathia.service
Before=async@hypathia.service
