[Unit]
Description=final homedir sync

AssertPathExists=/home/%u/arch/sync/Makefile
AssertPathExists=/home/%u/priv/mnt

Conflicts=sync-hi.service sync-fake.service synced.target

Wants=journal-show.service
After=journal-show.service

OnFailure=journal-mailer.service

[Service]
Type=oneshot
Slice=workers.slice

Nice=19
WorkingDirectory=/home/%u/arch/sync
ExecStart=/usr/bin/make sync TERSE=1 COLOR=0 REMOTES=skynet,babel
