[Unit]
Description=synchronize with r2d2
StopWhenUnneeded=true

BindsTo=sys-subsystem-net-devices-r2d2.device
After=sys-subsystem-net-devices-r2d2.device

BindsTo=async@r2d2.sercice
Before=async@r2d2.service
