[Unit]
Description=initial sync

Wants=journal-show.service
After=journal-show.service

Requires=async-default-needed.service
After=async-default-needed.service

OnFailure=journal-mailer.service


[Service]
Type=oneshot

SyslogIdentifier=sync-hi
ExecStart=/usr/bin/systemctl --user start synced.target                         
