[Unit]
Description=final homedir sync and suspend

Requires=sync-bye.service
After=sync-bye.service

[Service]
Type=oneshot

Environment=ICON=64x64/apps/system-suspend.svg
Environment=TIMEOUT=10

ExecStart=/usr/bin/notify-send -u normal                       \
                               -i "${ICON_THEME}/${ICON}"      \
                               "Suspend"                       \
                               "Suspending system in ${TIMEOUT} seconds"

ExecStart=/usr/bin/sleep "${TIMEOUT}"
ExecStart=/usr/bin/systemctl --user --no-block start suspend.target
