[Unit]
Description=reboot system

Requires=shutdown.target
After=shutdown.target

[Service]
RemainAfterExit=true
Type=oneshot

ExecStart=/usr/bin/sudo systemctl reboot

