[Unit]
Description=enter suspend state

BindsTo=lock.taraget
After=lock.target

[Service]
RemainAfterExit=true
Type=oneshot
ExecStart=/usr/bin/sudo systemctl suspend
