[Unit]
Description=systemd is synced

AllowIsolate=true

Requisite=data-synced.target
After=data-synced.target

BindsTo=paur-sync.service
After=paur-sync.service

