[Unit]
Description=tablet configuration
AllowIsolate=true

Conflicts=console.target desktop.target laptop.target

Requires=graphical.target
After=graphical.target

