[Unit]
Description=termite %i

Requisite=graphical-session.target 
After=graphical-session.target

[Service]
Type=simple
Slice=apps.slice
KillMode=process

# NOTE: we want login shell, so /etc/profile.d/* is executed.
ExecStart=/usr/bin/termite -e "/usr/bin/zsh -l"


