[Unit]
Description=a testing service
# ConditionACPower=true

[Service]
Type=oneshot
Slice=apps.slice
ExecStart=/usr/bin/echo "Hello World"

RemainAfterExit=true
