[Unit]
Description=gesture recognizer

Requisite=graphical.target
After=graphical.target

StopWhenUnneeded=true

[Service]
Type=simple
Slice=wm.slice

ExecStart=/usr/bin/touchegg

