[Unit]
Description=vifm dropdown

PartOf=graphical-session.target 
After=graphical-session.target

[Service]
Type=simple
Slice=apps.slice

ExecStart=/usr/bin/termite --title=vifm-dropdown -e vifm

