[Unit]
Description=midi keyboard

Requisite=jack.service
After=jack.service

[Service]
Type=simple
SyslogIdentifier=vmpk
Slice=apps.slice

ExecStart=/usr/bin/vmpk


