[Unit]
Description=VNC server at display %i

Conflicts=xorg@%i.service x11vnc@%i.service xephyr@%i.service

Requires=xserver@%i.target
Before=xserver@%i.target

[Service]
Type=forking
ExecStart=/usr/bin/vncserver :%i -nolisten tcp -localhost -nevershared -geometry 800x600 -depth 24

