[Unit]
Description=X11VNC server
StopWhenUnneeded=true

Wants=xserver@%i.target
Before=xserver@%i.target
Conflicts=xorg@%i.service vnc@%i.service xephyr@%i.service

[Service]
Type=forking
ExecStart=/usr/bin/x11vnc -usepw -forever -display :%i -rfbport 590%i -bg

