[Unit]
Description=x11vnc server at display %i

Requisite=xorg@%i.service
After=xorg@%i.service

[Service]
Type=forking
ExecStartPre=/usr/bin/mkdir -p %t/x11vnc
ExecStart=/usr/bin/x11vnc -nopw -forever -ncache 10 -display :%i -unixsockonly %t/x11vnc/x11vnc.socket -bg


