[Unit]
Description=Xephyr server at display %i
After=graphical.target

Requisite=graphical.target

Conflicts=x11vnc@%i.service vncserver@%i.service xorg@%i.service

Requires=xserver@%i.target
Before=xserver@%i.target

[Service]
Type=simple
ExecStart=/usr/bin/Xephyr -ac -br -noreset -screen 800x600 :%i 

