[Unit]
Description=Xephyr server at display %i

Requires=xephyr@%i.socket
After=xephyr@%i.socket

Requires=xserver@%i.target
Before=xserver@%i.target

Requisite=graphical.target
After=graphical.target


[Service]
Type=simple
ExecStart=/usr/bin/Xephyr -ac -br -noreset -screen 1024x768 :%i 

