[Unit]
Description=Xephyr server
StopWhenUnneeded=true

Wants=xserver@%i.target
Before=xserver@%i.target
Conflicts=x11vnc@%i.service vnc@%i.service xorg@%i.service

[Service]
Type=forking
EnvironmentFile=%h/.config/systemd/conf/xenvironment
ExecStart=/usr/bin/Xephyr -ac -br -noreset -screen 800x600 :%i 

