[Unit]
Description=Xephyr server at display :1

Requires=xephyr.socket
After=xephyr.socket

Requisite=graphical.target
After=graphical.target


[Service]
Type=simple
ExecStart=/usr/bin/Xephyr -ac -br -noreset -screen 1024x768 :1

