[Unit]
Description=Xfce4 Configuration Service
After=xorg.target

Requisite=xorg.target

[Service]
Type=dbus
BusName=org.xfce.Xfconf
Slice=wm.slice

ExecStart=/usr/lib/xfce4/xfconf/xfconfd

[Install]
Alias=dbus-org.xfce.Xfconf.service
