[Unit]
Description=X initialization commands
After=xorg.service

[Service]
Type=oneshot
ExecStart=/usr/bin/setxkbmap -option terminate:ctrl_alt_bksp 
ExecStart=/usr/bin/Xset r rate 500 40  

[Install]
WantedBy=xorg.target
