[Unit]
Description=X initialization commands

After=xserver@%i.target xorg@%i.service vncserver@%i.service x11vnc@%i.service xephyr@%i.service
Requisite=xserver@%i.target

[Service]
Type=oneshot
Environment=DISPLAY=:%i
ExecStart=/usr/bin/setxkbmap -option terminate:ctrl_alt_bksp 
ExecStart=/bin/bash %h/.config/systemd/conf/xinitrc.d/%H
