[Unit]
Description=X xkb keymap
Documentation=man:xkbcomp(1)

Requisite=xserver@%i.target
After=xserver@%i.target xorg@%i.service vncserver@%i.service x11vnc@%i.service xephyr@%i.service
After=xinit@%i.service

[Service]
Type=oneshot
Environment=DISPLAY=:%i

ExecStart=/usr/bin/xkbcomp %h/.config/systemd/conf/Xkeymap ${DISPLAY}
StandardOutput=null