[Unit]
Description=X xkb keymap
Documentation=man:xkbcomp(1)

Requisite=xserver.target
After=xserver.target

[Service]
Type=oneshot

ExecStart=/usr/bin/xkbcomp %h/.config/systemd/conf/Xkeymap ${DISPLAY}
StandardOutput=null

[Install]
WantedBy=graphical.target
