[Unit]
Description=X resource setting
Documentation=man:xmodmap(1)
After=xorg.service
BindsTo=xorg.service
PropagatesReloadFrom=xorg.service

[Service]
Type=oneshot
EnvironmentFile=%h/.config/systemd/conf/xenvironment
ExecStart=/usr/bin/xmodmap %h/.config/systemd/conf/Xmodmap

[Install]
WantedBy=xorg.target
