[Unit]
Description=Xmonad Window Manager
After=xorg.target
StopWhenUnneeded=true
Requires=xorg.target
Requires=dbus.socket
Conflicts=awesome.service openbox.service

[Service]
Type=forking
EnvironmentFile=%h/.config/systemd/conf/xenvironment
ExecStart=/home/abdo/.config/systemd/scripts/xmonad start

[Install]
WantedBy=xmonad.target
