[Unit]
Description=Xmonad Window Manager
After=xserver@%i.target
After=compton@%i.service
StopWhenUnneeded=true

Requires=xserver@%i.target
Requires=dbus.socket

[Service]
Type=forking
EnvironmentFile=%h/.config/systemd/conf/xenvironment
Environment=DISPLAY=:%i
ExecStart=/home/abdo/.config/systemd/scripts/xmonad start

[Install]
WantedBy=xmonad.target
