[Unit]
Description=xorg server at display :0

# NOTE: Socket activation is broken for xorg 1.18
# https://bugs.freedesktop.org/show_bug.cgi?id=93072
#
# Requires=xorg.socket
# After=xorg.socket

Conflicts=vncserver.service weston.service weston.socket

Requires=xserver.target
Before=xserver.target

[Service]
Type=simple

Slice=wm.slice

# NOTE: something like this would be needed if I manage to run xorg unprivileged
# StandardError=tty
# TTYPath=/dev/tty2
# TTYReset=yes

SuccessExitStatus=0 1

# NOTE: need to launch X session at the same tty, otherwise it becomes inactive
# NOTE: we could set the keyboard rate delay and rate frequency with: xset r rate 500 40
ExecStart=/usr/bin/Xorg ${DISPLAY} -nolisten tcp -noreset -verbose 0 -ardelay 500 -arinterval 25 "vt${XDG_VTNR}"

# NOTE: There is no reliable way to get startup notifications.
#   1. It is racy. clients connecting to it too soon block.
#   2. somehow xorg connects to its own socket and restarts itself on shutdown.
ExecStartPost=/usr/bin/bash -c 'while ! xset q &>/dev/null; do sleep 1; done'

