[Unit]
Description=Xorg server at display %i
Before=xserver@%i.target
StopWhenUnneeded=true

BindsTo=xserver@%i.target
Conflicts=x11vnc@%i.service vncserver@%i.service xephyr@%i.service

[Service]
Type=notify
SyslogIdentifier=xorg

# need to launch X session at the same tty, otherwise it becomes inactive
ExecStart=/usr/bin/xorg-launch-helper :%i -nolisten tcp -noreset $XORG_VT
ExecStopPost=/usr/bin/deallocvt $XORG_VT

