[Unit]
Description=xorg server at display :0

Conflicts=vncserver.service weston.service weston.socket

Requires=xorg.socket
After=xorg.socket

Before=graphical.target
PartOf=compositor.target

[Service]
# Type=notify
Type=simple

Slice=wm.slice

# NOTE: something like this would be needed if I manage to run xorg unprivileged
# StandardError=tty
# TTYPath=/dev/tty2
# TTYReset=yes

SuccessExitStatus=0 1

# NOTE: need to launch X session at the same tty, otherwise it becomes inactive
# NOTE: we could set the keyboard rate delay and rate frequency with: xset r rate 500 40
ExecStart=/usr/bin/Xorg ${DISPLAY} -nolisten tcp -noreset -verbose 0 -ardelay 500 -arinterval 25 "vt${XDG_VTNR}"

[Install]
RequiredBy=compositor.target

