[Unit]
Description=X screen setup with randr
After=xorg.service
BindsTo=xorg.service

[Service]
Type=oneshot
ExecStart=/home/abdo/.config/systemd/scripts/screen.sh %i

[Install]
WantedBy=xorg.target
