[Unit]
Description=xrandr mirror
After=xorg@0.service
Before=xserver@0.target
Requisite=xorg@0.service

[Service]
Type=oneshot
SyslogIdentifier=xrandr
ExecStart=/home/abdo/.config/systemd/scripts/xrandr.sh mirror
