[Unit]
Description=xrandr mirror
After=graphical.target
Requisite=graphical.target

[Service]
Type=oneshot
EnvironmentFile=%h/.config/systemd/conf/xrandr/%H.conf
SyslogIdentifier=xrandr-mirror
ExecStart=/usr/bin/xrandr --output "$XRANDR_PRIMARY" --auto --primary --output "$XRANDR_SECONDARY" --auto --same-as "$XRANDR_PRIMARY" --output "$XRANDR_TERTIARY" --off
