[Unit]
Description=xrandr single

Requisite=xorg.service
After=xorg.service compton.service
Before=compton.service
Before=graphical.target

[Service]
Type=oneshot
EnvironmentFile=%h/.config/systemd/conf/xrandr/%H.conf
SyslogIdentifier=xrandr-single
ExecStart=/usr/bin/xrandr --output "$XRANDR_PRIMARY" --auto --primary --output "$XRANDR_SECONDARY" --off --output "$XRANDR_TERTIARY" --off
