[Unit]
Description=xrandr single
After=xorg@%i.service
BindsTo=xorg@%i.service

[Service]
Type=oneshot
Environment=DISPLAY=:%i
ExecStart=/home/abdo/.config/systemd/scripts/xrandr single

[Install]
WantedBy=xorg.target
