[Unit]
Description=X server
RefuseManualStart=true
PartOf=xorg@%i.service 

# NOTE: Can't do this, because the Conflicts between the xserver make this
# PartOf propagate stop events wenever any of the x server starts.
# I'm not sure how to make xserver@.target act as a target to mark when
# some X server is running.
#
# PartOf=vncserver@%i.service xephyr@%i.service x11vnc@%i.service

