[Unit]
Description=yoshimi synthetizer

Requisite=wm.target
After=wm.target

Requires=jack.service
After=jack.service

[Service]
Type=simple
Slice=apps.slice

# realtime scheduling
CPUSchedulingPolicy=rr
CPUSchedulingPriority=60

ExecStart=/usr/bin/yoshimi


