[Unit]
Description=yoshimi synthetizer

Requisite=desktop.target
After=desktop.target

Requisite=jack.service
After=jack.service

[Service]
Type=simple
SyslogIdentifier=yoshimi
Slice=apps.slice

# realtime scheduling
CPUSchedulingPolicy=rr
CPUSchedulingPriority=60

ExecStart=/usr/bin/yoshimi


